<div class="cb-container {{ storedTheme }} mystyle">
  <div class="fixed-color-bottom"></div>
  <!-- Shade Effect -->
  <div class="cb-shade-effects">
      <div class="cb-shade-effect-1"></div>
      <div class="cb-shade-effect-2"></div>
      <div class="cb-shade-effect-3"></div>
      <div class="cb-shade-effect-4"></div>
      <div class="cb-shade-effect-5"></div>
  </div>

  <!-- Header -->
  <div class="w-100 header-fixed position-fixed {{ storedTheme }}">
      <div class="header-cb position-relative d-flex justify-content-between">
          <div class="logo-cb">
              <a href="/"><span>Poker</span>face</a>
          </div>
          <div class="d-flex align-items-center"> 
              <div class="theme-switcher-wrap">
                  <label [ngClass] = "(storedTheme === 'theme-dark') ? 'theme-switcher active' : 'theme-switcher'"
                  (click)="setTheme()" >
                      <div class="switch-path">
                          <div class="switch-handle"></div>
                      </div>
                  </label>
              </div>
              <div class="d-flex dropdown no-shade">
                  <div class="dropdown">
                      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          <div class="d-flex justify-content-center align-items-center">
                              <img class="cb-profile" src="../assets/images/Oval.png" alt="">
                              <div class="bottom-arrow">
                                  <img class="bottom-arrow" src="../assets/images/bottom-arrow.png" alt="">
                              </div>
                              
                          </div>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><p class="dropdown-item" (click)="showProfile()"><img src="../assets/images/user.png" alt="">Profile</p></li>
                      <li><p class="dropdown-item" (click)="showPopup()"><img src="../assets/images/recharge-withdraw.png" alt="">Recharge/Withdraw</p></li>
                      <li><p class="dropdown-item" (click)="showPopup()"><img src="../assets/images/receipt-search.png" alt="">D/W request history</p></li>
                      <li><p class="dropdown-item" (click)="showPopup()"><img src="../assets/images/receipt-text.png" alt="">Account Statement</p></li>
                      <li><p class="dropdown-item" (click)="showPL()"><img src="../assets/images/profit-loss.png" alt="">Profit And Loss</p></li>
                      <li><p class="dropdown-item" (click)="showPopup()"><img src="../assets/images/lock.png" alt="">Change Password</p></li>
  
                      <div class="dropdown-divider"></div>
                      <li><p class="dropdown-item"><img src="../assets/images/logout.png" alt="">Logout</p></li>
                      </ul>
                  </div>
              </div>
              <a href="#" class="login-cb mx-3">Log In</a>
              <a href="#" class="rc-btn-cb mx-2">Sign Up</a>
              <p class="rc-btn-cb mx-2" (click)="showPopup()">Deposit</p>
          </div>
      </div>
  </div>

  <!-- HomeBeforeLogin -->
  <div style="padding: 90px 0 0;" class="home-before-login desktop-only">
      <div class="cb-left-side d-flex position-fixed justify-content-center overflow-hidden">
          <div class="cb-left-side-blureffect"></div>
          <img src="../assets/images/model.png" alt="">
      </div>
      <div class="cb-parts position-relative" style="width: 50vw; height: 100%; margin-left: auto;">
          <div id="cb-slider-box" class="cb-right-side flex-column">  
              <div class="cb-swiper-container">
                  <div class="card-slider-cb">
                  <swiper [config]="config">
                      <div class="swiper-wrapper">
                          <div class="swiper-slide">
                          <img src="../assets/images/lady-card.png" alt="">
                          </div>
                          <div class="swiper-slide">
                          <img src="../assets/images/lady-card.png" alt="">
                          </div>
                          <div class="swiper-slide">
                          <img src="../assets/images/lady-card.png" alt="">
                          </div>
                          <div class="swiper-slide">
                          <img src="../assets/images/lady-card.png" alt="">
                          </div>
                          <div class="swiper-slide">
                          <img src="../assets/images/lady-card.png" alt="">
                          </div>
                      </div>
                      
                  </swiper>
                  <div class="swiper-pagination"></div>
                  
                  </div>
                  <a href="#" class="d-flex mt-4 scroll-down align-items-center justify-content-center">
                  <div class="icon-scroll-down d-flex justify-content-center align-items-center flex-column">
                      <img src="../assets/images/scroll-down-arrow.png" alt="">
                  </div>
                  <p>Scroll Down</p>
                  </a>
              </div>
          </div>
          <div id="live-games-content" class="cb-right-side flex-column aos-init aos-animate"
              data-aos="fade-up"
              data-aos-offset="300"
              data-aos-delay="50"
              data-aos-duration="400"
              data-aos-easing="ease-in-out"
              data-aos-mirror="true"
              data-aos-once="false">
              <h2 class="cb-game-title">Live Games</h2>
              <div>
                  <div class="cb-row-games d-flex text-center mb-3">
                      <div class="cb-games-layer">
                          <div class="cb-outer-game-layer"></div>
                          <div class="cb-col-games">
                          <div class="cb-img-container">
                              <img src="../assets/images/lady-card.png" alt="">
                          </div>
                          <p>POWERGAMES</p>
                          <h3>Light Baccarat</h3>
                          </div>
                      </div>
                      
                      <div class="cb-games-layer">
                          <div class="cb-outer-game-layer"></div>
                          <div class="cb-col-games">
                          <div class="cb-img-container">
                              <img src="../assets/images/lady-card.png" alt="">
                          </div>
                          <p>POWERGAMES</p>
                          <h3>Light Baccarat</h3>
                          </div>
                      </div>
                  </div>
                  <div class="cb-row-games d-flex text-center mb-2">
                      <div class="cb-games-layer">
                          <div class="cb-outer-game-layer"></div>
                          <div class="cb-col-games">
                          <div class="cb-img-container">
                              <img src="../assets/images/lady-card.png" alt="">
                          </div>
                          <p>POWERGAMES</p>
                          <h3>Light Baccarat</h3>
                          </div>
                      </div>
                      <div class="cb-games-layer">
                          <div class="cb-outer-game-layer"></div>
                          <div class="cb-col-games">
                          <div class="cb-img-container">
                              <img src="../assets/images/lady-card.png" alt="">
                          </div>
                          <p>POWERGAMES</p>
                          <h3>Light Baccarat</h3>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div id="cb-virtual-games" class="cb-right-side flex-column aos-init aos-animate"
              data-aos="fade-up"
              data-aos-offset="300"
              data-aos-delay="50"
              data-aos-duration="400"
              data-aos-easing="ease-in-out"
              data-aos-mirror="true"
              data-aos-once="false">
              <h2 class="cb-game-title">Virtual Games</h2>
              <div>
                  <div class="cb-row-games d-flex text-center mb-3" >
                      <div class="cb-games-layer">
                          <div class="cb-outer-game-layer"></div>
                          <div class="cb-col-games">
                          <div class="cb-img-container">
                              <img src="../assets/images/lady-card.png" alt="">
                          </div>
                          <p>POWERGAMES</p>
                          <h3>Light Baccarat</h3>
                          </div>
                      </div>
                      
                      <div class="cb-games-layer">
                          <div class="cb-outer-game-layer"></div>
                          <div class="cb-col-games">
                          <div class="cb-img-container">
                              <img src="../assets/images/lady-card.png" alt="">
                          </div>
                          <p>POWERGAMES</p>
                          <h3>Light Baccarat</h3>
                          </div>
                      </div>
                  </div>
                  <div class="cb-row-games d-flex text-center mb-2">
                      <div class="cb-games-layer">
                          <div class="cb-outer-game-layer"></div>
                          <div class="cb-col-games">
                          <div class="cb-img-container">
                              <img src="../assets/images/lady-card.png" alt="">
                          </div>
                          <p>POWERGAMES</p>
                          <h3>Light Baccarat</h3>
                          </div>
                      </div>
                      <div class="cb-games-layer">
                          <div class="cb-outer-game-layer"></div>
                          <div class="cb-col-games">
                          <div class="cb-img-container">
                              <img src="../assets/images/lady-card.png" alt="">
                          </div>
                          <p>POWERGAMES</p>
                          <h3>Light Baccarat</h3>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <!-- Login -->
          <div id="cb-form-box" class="cb-right-side flex-column aos-init aos-animate"
              data-aos="fade-up"
              data-aos-offset="300"
              data-aos-delay="50"
              data-aos-duration="400"
              data-aos-easing="ease-in-out"
              data-aos-mirror="true"
              data-aos-once="false">

              <div class="cb-form-animation">
                  <div class="cb-form-container cb-form cb-login to-login" id="cb-form-container">
                      <div class="login-content">
                          <div class="cb-login-blureffect-1"></div>
                          <div class="cb-login-blureffect-2"></div>
                          <a class="cb-close" href="#"><img width="15" src="../assets/images/cross.svg" alt=""></a>
                          <form>
                              <div class="form-group">
                              <label for="exampleInputEmail1">Email Or Username</label>
                              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Email">
                              </div>
                              <div class="form-group">
                              <label for="exampleInputPassword1">Password</label>
                              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Your Password">
                              </div>
                              <div class="form-group form-check d-flex justify-content-between" style="padding: 0;">
                                  <div class="d-flex switch-content">
                                      <label class="switch">
                                          <input type="checkbox">
                                          <span class="slider round"></span>
                                      </label>
                                      <p>Save Me</p>
                                  </div>
                                  <div>
                                      <a class="forget-password" href="#">Forget Password?</a>
                                  </div>
                              </div>
                              <p class="btn cb-button-dark" (click)="clickEvent()">Log In</p>
                          </form>
                          <p class="dont-have-account">Don’t have an account? <span (click)="switchSignUp()">sign up</span></p>
                          <div class="d-flex justify-content-center">
                              <div class="cb-social-login"><img src="../assets/images/facebook.svg" alt=""></div>
                              <div class="cb-social-login"><img src="../assets/images/google.svg" alt=""></div>
                              <div class="cb-social-login"><img src="../assets/images/gmail.svg" alt=""></div>
                          </div>
                      </div>
                  </div>
  
                  <div class="cb-form-container cb-form cb-signup" id="cb-form-container">
                      <div class="cb-login-content">
                          <div class="cb-login-blureffect-1"></div>
                          <div class="cb-login-blureffect-2"></div>
                          <a class="cb-close" href="#"><img width="15" src="../assets/images/cross.svg" alt=""></a>
                          <form>
                              <div class="form-row d-flex">
                                  <div class="form-group col-md-6" style="margin-right: 5px;">
                                      <label for="exampleInputUsername1">Username</label>
                                      <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Enter User Name">
                                  </div>
                                  <div class="form-group col-md-6">
                                      <label for="exampleInputWhatsapp1">Whatsapp number</label>
                                      <input type="text" class="form-control" id="exampleInputWhatsapp1" placeholder="Enter Whatsapp Number">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <label for="exampleInputEmail1">Email</label>
                                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Email">
                              </div>
                              <div class="form-row d-flex">
                                  <div class="form-group col-md-6" style="margin-right: 5px;">
                                      <label for="exampleInputPassword1">Password</label>
                                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Your Password">    
                                  </div>
                                  <div class="form-group col-md-6">
                                      <label for="exampleInputRenterPassword1">Re-Enter Password</label>
                                      <input type="password" class="form-control" id="exampleInputRenterPassword1" placeholder="Enter Your Password">
                                  </div>
                              </div>
                              <div class="form-group form-check d-flex justify-content-between" style="padding: 0;">
                                  <div class="d-flex switch-content">
                                      <label class="switch">
                                          <input type="checkbox">
                                          <span class="slider round"></span>
                                      </label>
                                      <p>Save Me</p>
                                  </div>
                                  <!-- <div>
                                      <a class="forget-password" href="#">Forget Password?</a>
                                  </div> -->
                              </div>
                              <p class="btn cb-button-dark" (click)="clickEvent()">Sign Up</p>
                          </form>
                          <p class="dont-have-account">Already have an account? <span (click)="switchLogin()">Log in</span></p>
                          <div class="d-flex justify-content-center">
                              <div class="cb-social-login"><img src="../assets/images/facebook.svg" alt=""></div>
                              <div class="cb-social-login"><img src="../assets/images/google.svg" alt=""></div>
                              <div class="cb-social-login"><img src="../assets/images/gmail.svg" alt=""></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- HomeBeforeLogin Mobile View -->
  <div class="mobile-only cb-mobile-before-container home-before-login">
      <div class="cb-mb-left-side d-flex">
          <img src="../assets/images/model.png" alt="">
      </div>
      <a href="#" class="d-flex mt-3 scroll-down align-items-center justify-content-center">
          <div class="icon-scroll-down d-flex justify-content-center align-items-center flex-column">
              <img src="../assets/images/scroll-down-arrow.png" alt="">
          </div>
          <p>Scroll Down</p>
      </a>
      <div class="cb-parts position-relative">
          <div class="cb-right-side flex-column">
              <div>
              <div class="cb-row-games text-center mb-3" id="cb-mb-row-games">
                  <div class="cb-games-layer aos-init my-1">
                  <div class="cb-outer-game-layer"></div>
                  <div class="cb-col-games">
                      <div class="cb-img-container">
                      <img src="../assets/images/lady-card.png" alt="">
                      </div>
                      <p>POWERGAMES</p>
                      <h3>Light Baccarat</h3>
                  </div>
                  </div>
                  
                  <div class="cb-games-layer my-1 cb-mr-l58">
                  <div class="cb-outer-game-layer"></div>
                  <div class="cb-col-games">
                      <div class="cb-img-container">
                      <img src="../assets/images/lady-card.png" alt="">
                      </div>
                      <p>POWERGAMES</p>
                      <h3>Light Baccarat</h3>
                  </div>
                  </div>
      
                  <div class="cb-games-layer my-1">
                  <div class="cb-outer-game-layer"></div>
                  <div class="cb-col-games">
                      <div class="cb-img-container">
                      <img src="../assets/images/lady-card.png" alt="">
                      </div>
                      <p>POWERGAMES</p>
                      <h3>Light Baccarat</h3>
                  </div>
                  </div>
      
                  <div class="cb-games-layer my-1 cb-mr-l58">
                  <div class="cb-outer-game-layer"></div>
                  <div class="cb-col-games">
                      <div class="cb-img-container">
                      <img src="../assets/images/lady-card.png" alt="">
                      </div>
                      <p>POWERGAMES</p>
                      <h3>Light Baccarat</h3>
                  </div>
                  </div>
      
                  <div class="cb-games-layer my-1">
                  <div class="cb-outer-game-layer"></div>
                  <div class="cb-col-games">
                      <div class="cb-img-container">
                      <img src="../assets/images/lady-card.png" alt="">
                      </div>
                      <p>POWERGAMES</p>
                      <h3>Light Baccarat</h3>
                  </div>
                  </div>
      
                  <div class="cb-games-layer my-1 cb-mr-l58">
                  <div class="cb-outer-game-layer"></div>
                  <div class="cb-col-games">
                      <div class="cb-img-container">
                      <img src="../assets/images/lady-card.png" alt="">
                      </div>
                      <p>POWERGAMES</p>
                      <h3>Light Baccarat</h3>
                  </div>
                  </div>
      
                  <div class="cb-games-layer my-1">
                  <div class="cb-outer-game-layer"></div>
                  <div class="cb-col-games">
                      <div class="cb-img-container">
                      <img src="../assets/images/lady-card.png" alt="">
                      </div>
                      <p>POWERGAMES</p>
                      <h3>Light Baccarat</h3>
                  </div>
                  </div>
      
                  <div class="cb-games-layer my-1 cb-mr-l58">
                  <div class="cb-outer-game-layer"></div>
                  <div class="cb-col-games">
                      <div class="cb-img-container">
                      <img src="../assets/images/lady-card.png" alt="">
                      </div>
                      <p>POWERGAMES</p>
                      <h3>Light Baccarat</h3>
                  </div>
                  </div>
              </div>
              </div>
          </div>
      </div>
      <!-- Login -->
      <div id="cb-form-box" class="cb-right-side flex-column">

          <div class="cb-form-animation">
              <div class="cb-form-container cb-form cb-login to-login" id="cb-form-container">
                  <div class="login-content">
                      <div class="cb-login-blureffect-1"></div>
                      <div class="cb-login-blureffect-2"></div>
                      <a class="cb-close" href="#"><img width="15" src="../assets/images/cross.svg" alt=""></a>
                      <form>
                          <div class="form-group">
                          <label for="exampleInputEmail1">Email Or Username</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Email">
                          </div>
                          <div class="form-group">
                          <label for="exampleInputPassword1">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Your Password">
                          </div>
                          <div class="form-group form-check d-flex justify-content-between" style="padding: 0;">
                              <div class="d-flex switch-content">
                                  <label class="switch">
                                      <input type="checkbox">
                                      <span class="slider round"></span>
                                  </label>
                                  <p>Save Me</p>
                              </div>
                              <div>
                                  <a class="forget-password" href="#">Forget Password?</a>
                              </div>
                          </div>
                          <p class="btn cb-button-dark" (click)="clickEvent()">Log In</p>
                      </form>
                      <p class="dont-have-account">Don’t have an account? <span (click)="switchSignUpMobile()">sign up</span></p>
                      <div class="d-flex justify-content-center">
                          <div class="cb-social-login"><img src="../assets/images/facebook.svg" alt=""></div>
                          <div class="cb-social-login"><img src="../assets/images/google.svg" alt=""></div>
                          <div class="cb-social-login"><img src="../assets/images/gmail.svg" alt=""></div>
                      </div>
                  </div>
              </div>

              <div class="cb-form-container cb-form cb-signup" id="cb-form-container">
                  <div class="cb-login-content">
                      <div class="cb-login-blureffect-1"></div>
                      <div class="cb-login-blureffect-2"></div>
                      <a class="cb-close" href="#"><img width="15" src="../assets/images/cross.svg" alt=""></a>
                      <form>
                          <div class="form-row d-flex">
                              <div class="form-group col-md-6" style="margin-right: 5px;">
                                  <label for="exampleInputUsername1">Username</label>
                                  <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Enter User Name">
                              </div>
                              <div class="form-group col-md-6">
                                  <label for="exampleInputWhatsapp1">Whatsapp number</label>
                                  <input type="text" class="form-control" id="exampleInputWhatsapp1" placeholder="Enter Whatsapp Number">
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="exampleInputEmail1">Email</label>
                              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Email">
                          </div>
                          <div class="form-row d-flex">
                              <div class="form-group col-md-6" style="margin-right: 5px;">
                                  <label for="exampleInputPassword1">Password</label>
                                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Your Password">    
                              </div>
                              <div class="form-group col-md-6">
                                  <label for="exampleInputRenterPassword1">Re-Enter Password</label>
                                  <input type="password" class="form-control" id="exampleInputRenterPassword1" placeholder="Enter Your Password">
                              </div>
                          </div>
                          <div class="form-group form-check d-flex justify-content-between" style="padding: 0;">
                              <div class="d-flex switch-content">
                                  <label class="switch">
                                      <input type="checkbox">
                                      <span class="slider round"></span>
                                  </label>
                                  <p>Save Me</p>
                              </div>
                              <!-- <div>
                                  <a class="forget-password" href="#">Forget Password?</a>
                              </div> -->
                          </div>
                          <p class="btn cb-button-dark" (click)="clickEvent()">Sign Up</p>
                      </form>
                      <p class="dont-have-account">Already have an account? <span (click)="switchLoginMobile()">Log in</span></p>
                      <div class="d-flex justify-content-center">
                          <div class="cb-social-login"><img src="../assets/images/facebook.svg" alt=""></div>
                          <div class="cb-social-login"><img src="../assets/images/google.svg" alt=""></div>
                          <div class="cb-social-login"><img src="../assets/images/gmail.svg" alt=""></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- HomeAfterLogin -->
  <div class="cb-homeafter-login d-flex justify-content-between align-items-start w-100 desktop-only">
      <div class="nav nav-tabs cb-side-tab" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-tab1-tab" data-bs-toggle="tab" data-bs-target="#nav-tab1" type="button" role="tab" aria-controls="nav-tab1" aria-selected="true">
            <div class="side-provider-content d-flex justify-content-center align-items-center">
              <img src="../assets/images/Hollywood-tv.png" alt="">
            </div>
          </button>
          <button class="nav-link" id="nav-tab2-tab" data-bs-toggle="tab" data-bs-target="#nav-tab2" type="button" role="tab" aria-controls="nav-tab2" aria-selected="false">
            <div class="side-provider-content d-flex justify-content-center align-items-center">
              <img src="../assets/images/Binary.png" alt="">
            </div>
          </button>
          <button class="nav-link" id="nav-tab3-tab" data-bs-toggle="tab" data-bs-target="#nav-tab3" type="button" role="tab" aria-controls="nav-tab3" aria-selected="false">
            <div class="side-provider-content d-flex justify-content-center align-items-center">
              <img src="../assets/images/Ezugi.png" alt="">
            </div>
          </button>
          <button class="nav-link" id="nav-tab4-tab" data-bs-toggle="tab" data-bs-target="#nav-tab4" type="button" role="tab" aria-controls="nav-tab4" aria-selected="true">
            <div class="side-provider-content d-flex justify-content-center align-items-center">
              <img src="../assets/images/Hollywood-tv.png" alt="">
            </div>
          </button>
          <button class="nav-link" id="nav-tab5-tab" data-bs-toggle="tab" data-bs-target="#nav-tab5" type="button" role="tab" aria-controls="nav-tab5" aria-selected="false">
            <div class="side-provider-content d-flex justify-content-center align-items-center">
              <img src="../assets/images/Binary.png" alt="">
            </div>
          </button>
          <button class="nav-link" id="nav-tab6-tab" data-bs-toggle="tab" data-bs-target="#nav-tab6" type="button" role="tab" aria-controls="nav-tab6" aria-selected="false">
            <div class="side-provider-content d-flex justify-content-center align-items-center">
              <img src="../assets/images/Ezugi.png" alt="">
            </div>
          </button>
      </div>
      <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-tab1" role="tabpanel" aria-labelledby="nav-tab1-tab">
              <app-gameshowcase></app-gameshowcase>
          </div>
          <div class="tab-pane fade" id="nav-tab2" role="tabpanel" aria-labelledby="nav-tab2-tab">
              <app-gameshowcase></app-gameshowcase>
          </div>
          <div class="tab-pane fade" id="nav-tab3" role="tabpanel" aria-labelledby="nav-tab3-tab">
              <app-gameshowcase></app-gameshowcase>
          </div>
          <div class="tab-pane fade" id="nav-tab4" role="tabpanel" aria-labelledby="nav-tab4-tab">
              <app-gameshowcase></app-gameshowcase>
          </div>
          <div class="tab-pane fade" id="nav-tab5" role="tabpanel" aria-labelledby="nav-tab5-tab">
              <app-gameshowcase></app-gameshowcase>
          </div>
          <div class="tab-pane fade" id="nav-tab6" role="tabpanel" aria-labelledby="nav-tab6-tab">
              <app-gameshowcase></app-gameshowcase>
          </div>
      </div>
  </div>

  <!-- SideBar -->
  <div id="advertisement" class="advertisement hide d-flex justify-content-center align-items-center flex-column">
      <div class="d-flex side-ad-col align-items-center">
          <div class="side-img">
              <img src="../assets/images/circle-lady.png" alt="">
          </div>
          <div class="advertisement-title d-flex flex-column align-items-center justify-content-center cb-borderradius-topleft5 first-shade-ad">
              <img width="15" height="15" src="../assets/images/star-icon.svg" alt="">
              <h2>Teen Patti</h2>
          </div>
      </div>
      <div class="d-flex side-ad-col align-items-center cb-mt-minus1">
          <div class="side-img second-shade-layout">
              <img src="../assets/images/circle-lady.png" alt="">
          </div>
          <div class="advertisement-title d-flex flex-column align-items-center justify-content-center second-shade-ad">
              <img width="15" height="15" src="../assets/images/star-icon.svg" alt="">
              <h2>Dice 3D</h2>
          </div>
      </div>
      <div class="d-flex side-ad-col align-items-center cb-mt-minus1">
          <div class="side-img third-shade-layout">
              <img src="../assets/images/circle-lady.png" alt="">
          </div>
          <div class="advertisement-title d-flex flex-column align-items-center justify-content-center cb-borderradius-bottomleft5 third-shade-ad">
              <img width="15" height="15" src="../assets/images/star-icon.svg" alt="">
              <h2>Roulette</h2>
          </div>
      </div>  
  </div>

  <!-- Popup Deposit Withdraw -->
  <div class="popup-cb">
    <div class="deposit-withdraw">
        <div class="cancel-btn" (click)="cancelPopup()">
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.44629 6.4458L19.3393 19.3388" stroke="#7B7B7B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M6.44586 19.3388L19.3389 6.4458" stroke="#7B7B7B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <h2>Deposit / Withdraw Wallet</h2>
        <div>
            <div class="nav nav-tabs cb-wd-tab justify-content-center" id="cb-wd-tab" role="tablist">
                <button class="nav-link active" id="nav-deposit-tab" data-bs-toggle="tab" data-bs-target="#nav-deposit" type="button" role="tab" aria-controls="nav-deposit" aria-selected="true">
                    <div class="d-content position-relative d-flex justify-content-center align-items-center">
                        <div class="small-circle"></div>Deposit
                    </div>
                </button>
                <button class="nav-link" id="nav-withdraw-tab" data-bs-toggle="tab" data-bs-target="#nav-withdraw" type="button" role="tab" aria-controls="nav-withdraw" aria-selected="false">
                    <div class="w-content position-relative d-flex justify-content-center align-items-center">
                        <div class="small-circle"></div>Withdraw
                    </div>
                </button>
            </div>
            <div class="tab-content" id="nav-dwContent">      
                <div class="tab-pane fade show active" id="nav-deposit" role="tabpanel" aria-labelledby="nav-deposit-tab">
                    <div class="deposit-container d-flex justify-content-center align-items-center">
                        <p>Amount</p>
                        <input type="text" class="enter-amount" placeholder="Enter Amount">
                    </div>
                    <p class="deposit-description">Accept, process & disburse digital payments for your business. <span>Fast & Secure Payment</span></p>
                    <div class="payment-gateway d-flex justify-content-between align-items-center">
                        <svg width="66" height="20" viewBox="0 0 66 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M47.9738 0.817448C46.4377 0.268761 44.8158 -0.00790313 43.1826 0.000171784C37.9088 0.000171784 34.1818 2.63339 34.1591 6.40183C34.1158 9.1716 36.8012 10.7328 38.8307 11.6662C40.9159 12.6221 41.613 13.2172 41.6027 14.0651C41.5924 15.3715 39.9362 15.9544 38.412 15.9544C36.2938 15.9544 35.145 15.6691 33.3733 14.9353L32.7154 14.6276L31.9646 18.981C33.2537 19.5007 35.5637 19.9572 37.9479 20C43.5662 20 47.2292 17.3892 47.2704 13.364C47.3138 11.1567 45.8762 9.48139 42.8134 8.09956C40.9654 7.20891 39.8083 6.60156 39.8083 5.6885C39.8083 4.88141 40.7963 4.03356 42.8588 4.03356C44.2275 3.99968 45.5883 4.2489 46.8538 4.76524L47.3591 4.98739L48.0996 0.79503L47.9738 0.817448ZM61.6832 0.360915H57.5582C56.2691 0.360915 55.3121 0.701276 54.7429 1.9649L46.8146 19.7228H52.4226L53.5528 16.8145L60.3941 16.8246C60.5653 17.5033 61.0479 19.7208 61.0479 19.7208H66L61.6832 0.360915ZM26.565 0.201943H31.9048L28.5636 19.572H23.2238L26.565 0.191752V0.201943ZM12.9876 10.8693L13.5341 13.5657L18.7646 0.360915H24.4262L16.0029 19.6902H10.3661L5.74613 3.32227C5.71073 3.1863 5.64767 3.05889 5.56079 2.94781C5.47391 2.83673 5.36504 2.74431 5.24081 2.67619C3.58129 1.82326 1.82083 1.17767 0 0.754267L0.0639375 0.348687H8.679C9.84019 0.391487 10.7848 0.754267 11.1066 1.98528L12.9876 10.8795V10.8693ZM55.0749 12.8544L57.2137 7.43107C57.1807 7.48202 57.6531 6.31623 57.9212 5.58252L58.2863 7.24764L59.5238 12.8422H55.0749V12.8544Z" fill="#D0D0D0"/>
                        </svg>
                        <svg width="60" height="25" viewBox="0 0 60 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.9609 3.22332C10.2558 4.06631 9.13258 4.73431 8.01119 4.63646C7.86305 3.49993 8.42187 2.28248 9.06695 1.52792C9.77016 0.667997 11.0003 0.0508054 11.9979 0C12.1161 1.18734 11.6548 2.35398 10.9628 3.22332H10.9609ZM11.9867 4.86038C10.3571 4.76065 8.95818 5.79934 8.18559 5.79934C7.39612 5.79934 6.21285 4.9093 4.92457 4.93941C3.25374 4.96011 1.69168 5.91788 0.842198 7.45898C-0.926142 10.5242 0.382767 15.0628 2.08172 17.5617C2.91245 18.7961 3.90632 20.149 5.2171 20.1114C6.45663 20.0606 6.95544 19.2891 8.45 19.2891C9.9633 19.2891 10.3927 20.1114 11.7129 20.0813C13.0687 20.0606 13.9275 18.8469 14.7583 17.6125C15.7053 16.2107 16.0953 14.837 16.1159 14.7693C16.0953 14.7392 13.4887 13.7306 13.47 10.6917C13.4494 8.14203 15.5196 6.92835 15.6077 6.85872C14.4451 5.09559 12.6093 4.9093 11.9848 4.86226L11.9867 4.86038ZM21.3928 1.40938V19.9533H24.2338V13.614H28.1624C31.7459 13.614 34.2663 11.1151 34.2663 7.5079C34.2663 3.8932 31.7966 1.41126 28.2599 1.41126L21.3928 1.40938ZM24.2338 3.84051H27.5061C29.9664 3.84051 31.3747 5.17274 31.3747 7.51543C31.3747 9.85812 29.9664 11.2016 27.4873 11.2016H24.2338V3.84051ZM39.44 20.0907C41.2271 20.0907 42.8773 19.18 43.6311 17.7273H43.6911V19.9533H46.3165V10.7199C46.3165 8.05547 44.2087 6.32245 40.9552 6.32245C37.9473 6.32245 35.7196 8.07617 35.6427 10.4772H38.1911C38.4068 9.33125 39.4419 8.58611 40.8783 8.58611C42.6166 8.58611 43.5843 9.4084 43.5843 10.9194V11.9374L40.0495 12.1538C36.7472 12.3589 34.9695 13.7212 34.9695 16.1034C34.9695 18.5044 36.8072 20.0926 39.4419 20.0926L39.44 20.0907ZM40.2126 17.8948C38.6974 17.8948 37.7317 17.159 37.7317 16.0338C37.7317 14.8672 38.6599 14.1803 40.4264 14.0712L43.5824 13.8755V14.9236C43.5824 16.6604 42.1272 17.8948 40.2013 17.8948H40.2126ZM49.8231 25C52.5853 25 53.8868 23.9218 55.0194 20.6778L60 6.50685H57.1197L53.7799 17.4526H53.7199L50.3801 6.50685H47.4116L52.2178 20.0023L51.9628 20.8245C51.5221 22.2076 50.8208 22.7439 49.57 22.7439C49.345 22.7439 48.9155 22.7156 48.7393 22.6968V24.9228C48.9043 24.9699 49.6094 24.9906 49.8138 24.9906L49.8231 25Z" fill="#D0D0D0"/>
                        </svg>
                        <svg width="22" height="26" viewBox="0 0 22 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.883 9.37492C22.0574 10.1873 22.0357 11.1728 21.8254 12.3344C20.987 16.6315 18.257 18.7787 13.6384 18.7787H13.0017C12.7664 18.7772 12.5387 18.8625 12.362 19.0182C12.179 19.177 12.0572 19.395 12.0177 19.6343L11.9587 19.9071L11.162 24.9271L11.1318 25.145C11.0906 25.386 10.9643 25.6042 10.7759 25.7597C10.5981 25.9164 10.3688 26.0017 10.132 25.9992H6.49731C6.40634 26.004 6.31555 25.9868 6.23257 25.9492C6.14959 25.9115 6.07685 25.8544 6.02047 25.7828C5.96321 25.7096 5.92205 25.625 5.8997 25.5348C5.87736 25.4445 5.87433 25.3505 5.89082 25.259C5.9787 24.7208 6.10403 23.9055 6.27546 22.8218C6.44401 21.7396 6.57223 20.9258 6.6601 20.3847C6.74798 19.8436 6.8762 19.0312 7.05195 17.9533C7.22626 16.874 7.35736 16.063 7.44236 15.5219C7.4899 15.1641 7.70023 14.9866 8.06614 14.9866H9.96198C11.2485 15.0053 12.3851 14.9043 13.3834 14.6821C15.0718 14.3041 16.4577 13.6086 17.541 12.5913C18.5279 11.6721 19.2741 10.4817 19.7884 9.02284C20.0218 8.34466 20.1874 7.69965 20.2955 7.09217C20.3041 7.03301 20.3157 6.99693 20.3315 6.98539C20.343 6.96952 20.3632 6.96519 20.3819 6.96952C20.4132 6.9835 20.4431 7.00041 20.4712 7.02002C21.2261 7.59432 21.7015 8.37784 21.883 9.37492ZM19.3937 5.2827C19.3937 6.3173 19.1718 7.45868 18.7238 8.70828C17.9502 10.9622 16.4952 12.4859 14.3486 13.2796C13.2567 13.6677 12.0408 13.8683 10.6967 13.8928C10.6967 13.9015 10.2631 13.9029 9.39438 13.9029L8.09351 13.8928C7.12542 13.8928 6.55638 14.3546 6.38351 15.2838C6.36478 15.3603 5.95421 17.9244 5.15178 22.9733C5.14026 23.0686 5.08263 23.1205 4.97747 23.1205H0.706059C0.605395 23.1226 0.505512 23.1024 0.413596 23.0612C0.32168 23.02 0.240015 22.959 0.174474 22.8824C0.106469 22.8071 0.0562665 22.7174 0.0275874 22.62C-0.00109175 22.5226 -0.00751215 22.4199 0.00880311 22.3197L3.36831 0.971153C3.41134 0.697966 3.55278 0.45003 3.76592 0.274206C3.97372 0.095057 4.23943 -0.00237345 4.51359 4.39267e-05H13.1774C13.5059 4.39267e-05 13.977 0.063534 14.5878 0.189071C15.2044 0.310279 15.7417 0.469005 16.2056 0.65226C17.24 1.04763 18.0294 1.64501 18.5754 2.4372C19.1214 3.23371 19.3937 4.17884 19.3937 5.2827Z" fill="#D0D0D0"/>
                        </svg>
                        <svg width="64" height="21" viewBox="0 0 64 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M42.2667 0.00273751C42.2309 0.00277358 42.1951 0.00644261 42.16 0.0136928C40.3467 0.534105 40.712 3.15808 37.4107 3.38268H37.0907C37.0441 3.38182 36.9976 3.38641 36.952 3.39637H36.9493C36.8088 3.431 36.6838 3.51346 36.5947 3.63034C36.5057 3.74721 36.4577 3.89161 36.4587 4.04004V7.02556C36.4587 7.39259 36.7413 7.68567 37.0907 7.68567H38.8107V20.3481C38.8107 20.7097 39.088 21 39.432 21H42.2533C42.4198 20.9978 42.5786 20.928 42.6951 20.8058C42.8115 20.6837 42.8761 20.5191 42.8747 20.3481V7.68567H44.4747C44.8213 7.68567 45.104 7.39259 45.104 7.02556V4.04004C45.1047 3.86736 45.039 3.70139 44.9211 3.57827C44.8032 3.45514 44.6428 3.38484 44.4747 3.38268H42.8427V0.602581C42.8434 0.524167 42.829 0.44638 42.8005 0.373659C42.7719 0.300938 42.7297 0.234709 42.6762 0.178753C42.6227 0.122797 42.559 0.0782115 42.4887 0.0475407C42.4185 0.0168699 42.343 0.000716093 42.2667 0V0.00273751ZM53.5333 3.20738C52.472 3.20738 51.5013 3.61823 50.7547 4.28929V3.94965C50.7453 3.78537 50.6757 3.63082 50.56 3.51702C50.4442 3.40322 50.2909 3.3386 50.1307 3.33611H47.2773C47.1085 3.339 46.9477 3.41028 46.8298 3.53443C46.7119 3.65858 46.6466 3.82555 46.648 3.99896V20.2139C46.6466 20.3873 46.7119 20.5543 46.8298 20.6784C46.9477 20.8026 47.1085 20.8739 47.2773 20.8767H50.1307C50.4507 20.8767 50.7093 20.6275 50.752 20.3043V8.66349C50.7411 8.38112 50.8387 8.10566 51.0238 7.89658C51.2089 7.6875 51.4666 7.56157 51.7413 7.54597H52.264C52.4845 7.56363 52.6947 7.64959 52.8667 7.79249C52.9907 7.89909 53.0898 8.03296 53.1568 8.18418C53.2237 8.33541 53.2567 8.50015 53.2533 8.66623V19.825L53.264 20.2495C53.2633 20.4229 53.3293 20.5896 53.4477 20.7132C53.566 20.8369 53.7272 20.9074 53.896 20.9096H56.7493C56.9124 20.9069 57.0683 20.8401 57.1849 20.7229C57.3015 20.6057 57.3699 20.4471 57.376 20.2796L57.3733 8.6498C57.3733 8.26634 57.5387 7.92122 57.8373 7.71853C57.9936 7.61243 58.1733 7.54838 58.36 7.53228H58.888C59.5013 7.58706 59.8747 8.08008 59.8747 8.6498C59.888 12.4735 59.8853 16.319 59.8853 20.2194C59.8846 20.3928 59.9506 20.5595 60.069 20.6831C60.1874 20.8067 60.3485 20.8773 60.5173 20.8795H63.3707C63.7173 20.8795 64 20.5837 64 20.2194V7.77605C64 6.92696 63.9093 6.56541 63.7867 6.19564C63.5025 5.32883 62.9615 4.575 62.2394 4.03966C61.5174 3.50432 60.6505 3.21427 59.76 3.21012H59.72C59.144 3.21059 58.5742 3.33236 58.0458 3.56791C57.5175 3.80347 57.0417 4.14779 56.648 4.57963C55.872 3.73601 54.7813 3.21012 53.5733 3.21012L53.5333 3.20738ZM0.618689 3.37994C0.536744 3.38065 0.455738 3.39794 0.380297 3.43082C0.304857 3.46369 0.236459 3.5115 0.17901 3.57153C0.121561 3.63155 0.0761858 3.70262 0.045475 3.78065C0.0147643 3.85869 -0.000680396 3.94218 2.29878e-05 4.02635V20.2523C2.29878e-05 20.6138 0.256023 20.9041 0.576023 20.9124H3.48269C3.82935 20.9124 4.11469 20.6193 4.11469 20.255L4.12535 15.7137H6.85335C9.13869 15.7137 10.728 14.0566 10.728 11.6572V7.44463C10.728 5.04252 9.13869 3.37994 6.85335 3.37994H0.618689ZM24.704 3.37994C24.6203 3.38065 24.5376 3.3983 24.4605 3.43186C24.3835 3.46542 24.3136 3.51425 24.2549 3.57554C24.1962 3.63684 24.1499 3.70941 24.1185 3.78911C24.0871 3.86881 24.0713 3.95407 24.072 4.04004V10.8054C24.072 13.3801 25.824 15.2097 28.2827 15.2097H30.0827C30.0827 15.2097 30.1253 15.2097 30.1813 15.2207C30.3456 15.2415 30.4967 15.3236 30.6058 15.4514C30.715 15.5792 30.7746 15.7437 30.7733 15.9137C30.7733 16.2697 30.5173 16.5573 30.1893 16.6011L30.1413 16.6121L29.3333 16.6285H25.9707C25.8026 16.6307 25.6421 16.701 25.5242 16.8241C25.4064 16.9473 25.3406 17.1132 25.3413 17.2859V20.2714C25.3399 20.4448 25.4053 20.6118 25.5231 20.7359C25.641 20.8601 25.8019 20.9314 25.9707 20.9343H30.6373C33.0907 20.9343 34.8427 19.1019 34.8427 16.5299V4.04004C34.8434 3.86736 34.7777 3.70139 34.6598 3.57827C34.5419 3.45514 34.3814 3.38484 34.2133 3.38268H31.36C31.1919 3.38484 31.0314 3.45514 30.9136 3.57827C30.7957 3.70139 30.73 3.86736 30.7307 4.04004C30.7173 6.19564 30.7307 8.21703 30.7307 10.2165C30.7286 10.3975 30.6577 10.5704 30.5331 10.6983C30.4085 10.8263 30.2402 10.8991 30.064 10.9013H28.8667C28.6882 10.8991 28.5178 10.8244 28.3929 10.6935C28.2679 10.5626 28.1986 10.3861 28.2 10.2028C28.2133 8.1376 28.1867 6.0943 28.1867 4.04004C28.1874 3.86736 28.1217 3.70139 28.0038 3.57827C27.8859 3.45514 27.7254 3.38484 27.5573 3.38268L24.704 3.37994ZM14.0267 3.39637C13.9454 3.39419 13.8646 3.40847 13.7887 3.4384C13.7128 3.46833 13.6434 3.51332 13.5845 3.57081C13.5255 3.6283 13.4782 3.69715 13.4452 3.77343C13.4122 3.84971 13.3941 3.93193 13.392 4.01539V6.8174C13.392 7.17895 13.6934 7.47476 14.064 7.47476H17.832C18.1307 7.52133 18.3653 7.74866 18.4 8.10473V8.4882C18.3653 8.82783 18.1333 9.07434 17.848 9.10174H15.9813C13.5014 9.10174 11.7307 10.8273 11.7307 13.2513V16.7271C11.7307 19.1375 13.2507 20.8521 15.7174 20.8521H20.8907C21.8187 20.8521 22.5707 20.1126 22.5707 19.2087V7.88014C22.5707 5.13017 21.216 3.39637 17.984 3.39637H14.0267ZM4.12535 7.7021H5.93335C6.30402 7.7021 6.60002 8.01709 6.60002 8.40329V10.6931C6.60108 10.7841 6.58467 10.8744 6.55174 10.9589C6.51881 11.0434 6.46999 11.1204 6.40809 11.1855C6.34618 11.2506 6.27239 11.3026 6.19094 11.3384C6.10948 11.3742 6.02195 11.3932 5.93335 11.3943H5.66669C5.15469 11.3998 4.63735 11.3943 4.12535 11.3943V7.7021ZM16.5787 13.1171H17.7653C18.136 13.1171 18.4373 13.4129 18.4373 13.7745V16.3272C18.4364 16.3983 18.4238 16.4687 18.4 16.5354C18.3525 16.6686 18.266 16.7833 18.1523 16.8638C18.0386 16.9442 17.9034 16.9865 17.7653 16.9846H16.5787C16.4049 16.9883 16.2367 16.9213 16.1108 16.7981C15.985 16.675 15.9116 16.5057 15.9067 16.3272V13.7717C15.9067 13.4102 16.208 13.1171 16.5787 13.1171Z" fill="#D0D0D0"/>
                        </svg>
                            
                        <svg width="20" height="29" viewBox="0 0 20 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.9103 8.617C18.0659 9.47826 17.9456 10.369 17.5678 11.1518C17.1901 11.9345 16.576 12.5656 15.8203 12.9477L15.7979 12.9582C16.8989 13.1766 17.8933 13.7863 18.6122 14.6837L18.6189 14.6918C19.1162 15.4665 19.4135 16.4197 19.4135 17.4452C19.4135 17.7438 19.3878 18.0378 19.3398 18.3225L19.3442 18.2922C19.2865 19.0342 19.1038 19.7597 18.8044 20.4353L18.8201 20.3957C18.5729 20.9595 18.2203 21.466 17.7829 21.8855L17.7795 21.889C17.3271 22.3015 16.8104 22.6302 16.2517 22.8608L16.2159 22.8737C15.6036 23.1356 14.9657 23.3273 14.3137 23.4453L14.2567 23.4547C13.5794 23.5783 12.7725 23.6682 11.9521 23.7055L11.9119 23.7067V28.0023H9.42959V23.779C8.56974 23.779 7.91406 23.7736 7.46253 23.7627V28.0023H4.98023V23.709C4.78651 23.709 4.49629 23.7063 4.10959 23.7008C3.72288 23.6954 3.42708 23.6927 3.22218 23.6927H0L0.499588 20.6127H2.28782C2.40363 20.6232 2.52027 20.6091 2.63073 20.5713C2.74119 20.5336 2.84319 20.4728 2.93058 20.3928C3.01798 20.3128 3.08896 20.2152 3.13926 20.1058C3.18957 19.9964 3.21815 19.8776 3.22329 19.7563V12.9897H3.48035C3.4041 12.9782 3.32716 12.9723 3.25012 12.9722H3.22218H3.22329V8.14333C3.17612 7.7929 2.99801 7.4762 2.72787 7.26241C2.45772 7.04862 2.1175 6.95512 1.78153 7.00233L1.78824 7.00117H0V4.24083L3.41776 4.25717C4.10549 4.25717 4.62669 4.25172 4.98135 4.24083V0.00116667H7.46365V4.15683C8.34435 4.13428 9.00004 4.123 9.43071 4.123V0H11.913V4.23967C12.7524 4.31083 13.5224 4.445 14.269 4.641L14.1695 4.61883C14.8199 4.78765 15.445 5.0491 16.0271 5.39583L15.9913 5.376C16.5378 5.69683 16.986 6.14017 17.3124 6.67333L17.3213 6.6885C17.6614 7.2679 17.8634 7.92405 17.9103 8.60183L17.9114 8.61583L17.9103 8.617ZM14.4445 17.7882V17.7438C14.4445 17.3658 14.3551 17.0112 14.1975 16.6985L14.2031 16.7102C14.0561 16.4153 13.8548 16.1537 13.6107 15.9402L13.6074 15.9367C13.3354 15.7153 13.0292 15.5441 12.7021 15.4303L12.6808 15.4233C12.3536 15.2977 12.0182 15.1968 11.6772 15.1212L11.6258 15.1118C11.2404 15.0354 10.8506 14.9855 10.4589 14.9625L10.4332 14.9613C9.96084 14.9279 9.59016 14.9112 9.32118 14.9112C9.0522 14.9112 8.70572 14.9166 8.28176 14.9275C7.8578 14.9384 7.60261 14.9438 7.51618 14.9438V20.6278C7.60186 20.6278 7.8008 20.6306 8.113 20.636C8.42519 20.6414 8.683 20.6442 8.88641 20.6442C9.08982 20.6442 9.37482 20.6356 9.74141 20.6185C10.108 20.6014 10.4224 20.5788 10.6847 20.5508C10.947 20.5228 11.2532 20.4754 11.6034 20.4085C11.9499 20.3455 12.2505 20.2638 12.5411 20.16L12.4975 20.174C12.7971 20.062 13.0496 19.943 13.2911 19.8053L13.262 19.8205C13.509 19.6875 13.7202 19.5183 13.8968 19.3177L13.8979 19.3165C14.0589 19.1252 14.1919 18.9023 14.288 18.6597L14.2936 18.6433C14.3948 18.3808 14.4464 18.1003 14.4456 17.8173V17.7858V17.787L14.4445 17.7882ZM13.3 9.77783V9.73467C13.3 9.39283 13.2251 9.06967 13.0932 8.78033L13.0988 8.79317C12.9787 8.52814 12.8123 8.28879 12.6082 8.08733L12.6071 8.08617C12.3842 7.88526 12.1276 7.72903 11.8504 7.62533L11.8336 7.6195C11.558 7.50358 11.2735 7.41226 10.9831 7.3465L10.9462 7.3395C10.6282 7.27562 10.3069 7.23121 9.98394 7.2065L9.95376 7.20417C9.56184 7.17072 9.25002 7.15672 9.01829 7.16217C8.78657 7.16761 8.49635 7.17306 8.14765 7.1785C7.79894 7.18394 7.58659 7.18667 7.51059 7.18667V12.3527L8.06718 12.3608C8.38459 12.3663 8.6342 12.3663 8.816 12.3608C8.9978 12.3554 9.26604 12.3441 9.62071 12.327C9.93172 12.316 10.2417 12.2829 10.5484 12.2278L10.5081 12.2337C10.7465 12.1886 11.023 12.1263 11.3374 12.047C11.6325 11.9793 11.894 11.872 12.1321 11.7285L12.1186 11.7355C12.3311 11.6002 12.5323 11.4465 12.7199 11.2758L12.7144 11.2805C12.906 11.1083 13.0542 10.8895 13.1458 10.6435L13.1491 10.633C13.243 10.3857 13.2966 10.0987 13.2966 9.79883V9.77433V9.7755L13.3 9.77783Z" fill="#D0D0D0"/>
                        </svg>
                    </div>
                    <div class="btn-deposit d-flex justify-content-center align-items-center">
                        <p href="#" class="deposit-btn">Deposit</p>
                        <p href="#" class="cancel-btns" (click)="cancelPopup()">Cancel</p>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-withdraw" role="tabpanel" aria-labelledby="nav-withdraw-tab">
                    <div class="Withdraw-container d-flex justify-content-between align-items-center flex-wrap">
                        <div class="col-withdraw-input">
                            <p>Bank Name</p>
                            <input type="text" class="input-withdraw" placeholder="Enter Your Bank Name">
                        </div>
                        <div class="col-withdraw-input">
                            <p>Account Number</p>
                            <input type="text" class="input-withdraw" placeholder="Enter Your Acount Number">
                        </div>
                        <div class="col-withdraw-input">
                            <p>Branch IFSC</p>
                            <input type="text" class="input-withdraw" placeholder="Enter Your Branch IFSC">
                        </div>
                        <div class="col-withdraw-input">
                            <p>Account Holder Name</p>
                            <input type="text" class="input-withdraw" placeholder="Enter Your Account Name">
                        </div>
                        <div class="col-withdraw-input">
                            <p>Mobile Number</p>
                            <input type="text" class="input-withdraw" placeholder="Enter Your Mobile Number">
                        </div>
                        <div class="col-withdraw-input">
                            <p>Withdraw Amount</p>
                            <input type="text" class="input-withdraw" placeholder="Enter Your Withdraw Amount">
                        </div>
                    </div>
                    <p class="deposit-description">Accept, process & disburse digital payments for your business. <span>Fast & Secure Payment</span></p>
                    <div class="payment-gateway d-flex justify-content-between align-items-center">
                        <svg width="66" height="20" viewBox="0 0 66 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M47.9738 0.817448C46.4377 0.268761 44.8158 -0.00790313 43.1826 0.000171784C37.9088 0.000171784 34.1818 2.63339 34.1591 6.40183C34.1158 9.1716 36.8012 10.7328 38.8307 11.6662C40.9159 12.6221 41.613 13.2172 41.6027 14.0651C41.5924 15.3715 39.9362 15.9544 38.412 15.9544C36.2938 15.9544 35.145 15.6691 33.3733 14.9353L32.7154 14.6276L31.9646 18.981C33.2537 19.5007 35.5637 19.9572 37.9479 20C43.5662 20 47.2292 17.3892 47.2704 13.364C47.3138 11.1567 45.8762 9.48139 42.8134 8.09956C40.9654 7.20891 39.8083 6.60156 39.8083 5.6885C39.8083 4.88141 40.7963 4.03356 42.8588 4.03356C44.2275 3.99968 45.5883 4.2489 46.8538 4.76524L47.3591 4.98739L48.0996 0.79503L47.9738 0.817448ZM61.6832 0.360915H57.5582C56.2691 0.360915 55.3121 0.701276 54.7429 1.9649L46.8146 19.7228H52.4226L53.5528 16.8145L60.3941 16.8246C60.5653 17.5033 61.0479 19.7208 61.0479 19.7208H66L61.6832 0.360915ZM26.565 0.201943H31.9048L28.5636 19.572H23.2238L26.565 0.191752V0.201943ZM12.9876 10.8693L13.5341 13.5657L18.7646 0.360915H24.4262L16.0029 19.6902H10.3661L5.74613 3.32227C5.71073 3.1863 5.64767 3.05889 5.56079 2.94781C5.47391 2.83673 5.36504 2.74431 5.24081 2.67619C3.58129 1.82326 1.82083 1.17767 0 0.754267L0.0639375 0.348687H8.679C9.84019 0.391487 10.7848 0.754267 11.1066 1.98528L12.9876 10.8795V10.8693ZM55.0749 12.8544L57.2137 7.43107C57.1807 7.48202 57.6531 6.31623 57.9212 5.58252L58.2863 7.24764L59.5238 12.8422H55.0749V12.8544Z" fill="#D0D0D0"/>
                        </svg>
                        <svg width="60" height="25" viewBox="0 0 60 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.9609 3.22332C10.2558 4.06631 9.13258 4.73431 8.01119 4.63646C7.86305 3.49993 8.42187 2.28248 9.06695 1.52792C9.77016 0.667997 11.0003 0.0508054 11.9979 0C12.1161 1.18734 11.6548 2.35398 10.9628 3.22332H10.9609ZM11.9867 4.86038C10.3571 4.76065 8.95818 5.79934 8.18559 5.79934C7.39612 5.79934 6.21285 4.9093 4.92457 4.93941C3.25374 4.96011 1.69168 5.91788 0.842198 7.45898C-0.926142 10.5242 0.382767 15.0628 2.08172 17.5617C2.91245 18.7961 3.90632 20.149 5.2171 20.1114C6.45663 20.0606 6.95544 19.2891 8.45 19.2891C9.9633 19.2891 10.3927 20.1114 11.7129 20.0813C13.0687 20.0606 13.9275 18.8469 14.7583 17.6125C15.7053 16.2107 16.0953 14.837 16.1159 14.7693C16.0953 14.7392 13.4887 13.7306 13.47 10.6917C13.4494 8.14203 15.5196 6.92835 15.6077 6.85872C14.4451 5.09559 12.6093 4.9093 11.9848 4.86226L11.9867 4.86038ZM21.3928 1.40938V19.9533H24.2338V13.614H28.1624C31.7459 13.614 34.2663 11.1151 34.2663 7.5079C34.2663 3.8932 31.7966 1.41126 28.2599 1.41126L21.3928 1.40938ZM24.2338 3.84051H27.5061C29.9664 3.84051 31.3747 5.17274 31.3747 7.51543C31.3747 9.85812 29.9664 11.2016 27.4873 11.2016H24.2338V3.84051ZM39.44 20.0907C41.2271 20.0907 42.8773 19.18 43.6311 17.7273H43.6911V19.9533H46.3165V10.7199C46.3165 8.05547 44.2087 6.32245 40.9552 6.32245C37.9473 6.32245 35.7196 8.07617 35.6427 10.4772H38.1911C38.4068 9.33125 39.4419 8.58611 40.8783 8.58611C42.6166 8.58611 43.5843 9.4084 43.5843 10.9194V11.9374L40.0495 12.1538C36.7472 12.3589 34.9695 13.7212 34.9695 16.1034C34.9695 18.5044 36.8072 20.0926 39.4419 20.0926L39.44 20.0907ZM40.2126 17.8948C38.6974 17.8948 37.7317 17.159 37.7317 16.0338C37.7317 14.8672 38.6599 14.1803 40.4264 14.0712L43.5824 13.8755V14.9236C43.5824 16.6604 42.1272 17.8948 40.2013 17.8948H40.2126ZM49.8231 25C52.5853 25 53.8868 23.9218 55.0194 20.6778L60 6.50685H57.1197L53.7799 17.4526H53.7199L50.3801 6.50685H47.4116L52.2178 20.0023L51.9628 20.8245C51.5221 22.2076 50.8208 22.7439 49.57 22.7439C49.345 22.7439 48.9155 22.7156 48.7393 22.6968V24.9228C48.9043 24.9699 49.6094 24.9906 49.8138 24.9906L49.8231 25Z" fill="#D0D0D0"/>
                        </svg>
                        <svg width="22" height="26" viewBox="0 0 22 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21.883 9.37492C22.0574 10.1873 22.0357 11.1728 21.8254 12.3344C20.987 16.6315 18.257 18.7787 13.6384 18.7787H13.0017C12.7664 18.7772 12.5387 18.8625 12.362 19.0182C12.179 19.177 12.0572 19.395 12.0177 19.6343L11.9587 19.9071L11.162 24.9271L11.1318 25.145C11.0906 25.386 10.9643 25.6042 10.7759 25.7597C10.5981 25.9164 10.3688 26.0017 10.132 25.9992H6.49731C6.40634 26.004 6.31555 25.9868 6.23257 25.9492C6.14959 25.9115 6.07685 25.8544 6.02047 25.7828C5.96321 25.7096 5.92205 25.625 5.8997 25.5348C5.87736 25.4445 5.87433 25.3505 5.89082 25.259C5.9787 24.7208 6.10403 23.9055 6.27546 22.8218C6.44401 21.7396 6.57223 20.9258 6.6601 20.3847C6.74798 19.8436 6.8762 19.0312 7.05195 17.9533C7.22626 16.874 7.35736 16.063 7.44236 15.5219C7.4899 15.1641 7.70023 14.9866 8.06614 14.9866H9.96198C11.2485 15.0053 12.3851 14.9043 13.3834 14.6821C15.0718 14.3041 16.4577 13.6086 17.541 12.5913C18.5279 11.6721 19.2741 10.4817 19.7884 9.02284C20.0218 8.34466 20.1874 7.69965 20.2955 7.09217C20.3041 7.03301 20.3157 6.99693 20.3315 6.98539C20.343 6.96952 20.3632 6.96519 20.3819 6.96952C20.4132 6.9835 20.4431 7.00041 20.4712 7.02002C21.2261 7.59432 21.7015 8.37784 21.883 9.37492ZM19.3937 5.2827C19.3937 6.3173 19.1718 7.45868 18.7238 8.70828C17.9502 10.9622 16.4952 12.4859 14.3486 13.2796C13.2567 13.6677 12.0408 13.8683 10.6967 13.8928C10.6967 13.9015 10.2631 13.9029 9.39438 13.9029L8.09351 13.8928C7.12542 13.8928 6.55638 14.3546 6.38351 15.2838C6.36478 15.3603 5.95421 17.9244 5.15178 22.9733C5.14026 23.0686 5.08263 23.1205 4.97747 23.1205H0.706059C0.605395 23.1226 0.505512 23.1024 0.413596 23.0612C0.32168 23.02 0.240015 22.959 0.174474 22.8824C0.106469 22.8071 0.0562665 22.7174 0.0275874 22.62C-0.00109175 22.5226 -0.00751215 22.4199 0.00880311 22.3197L3.36831 0.971153C3.41134 0.697966 3.55278 0.45003 3.76592 0.274206C3.97372 0.095057 4.23943 -0.00237345 4.51359 4.39267e-05H13.1774C13.5059 4.39267e-05 13.977 0.063534 14.5878 0.189071C15.2044 0.310279 15.7417 0.469005 16.2056 0.65226C17.24 1.04763 18.0294 1.64501 18.5754 2.4372C19.1214 3.23371 19.3937 4.17884 19.3937 5.2827Z" fill="#D0D0D0"/>
                        </svg>
                        <svg width="64" height="21" viewBox="0 0 64 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M42.2667 0.00273751C42.2309 0.00277358 42.1951 0.00644261 42.16 0.0136928C40.3467 0.534105 40.712 3.15808 37.4107 3.38268H37.0907C37.0441 3.38182 36.9976 3.38641 36.952 3.39637H36.9493C36.8088 3.431 36.6838 3.51346 36.5947 3.63034C36.5057 3.74721 36.4577 3.89161 36.4587 4.04004V7.02556C36.4587 7.39259 36.7413 7.68567 37.0907 7.68567H38.8107V20.3481C38.8107 20.7097 39.088 21 39.432 21H42.2533C42.4198 20.9978 42.5786 20.928 42.6951 20.8058C42.8115 20.6837 42.8761 20.5191 42.8747 20.3481V7.68567H44.4747C44.8213 7.68567 45.104 7.39259 45.104 7.02556V4.04004C45.1047 3.86736 45.039 3.70139 44.9211 3.57827C44.8032 3.45514 44.6428 3.38484 44.4747 3.38268H42.8427V0.602581C42.8434 0.524167 42.829 0.44638 42.8005 0.373659C42.7719 0.300938 42.7297 0.234709 42.6762 0.178753C42.6227 0.122797 42.559 0.0782115 42.4887 0.0475407C42.4185 0.0168699 42.343 0.000716093 42.2667 0V0.00273751ZM53.5333 3.20738C52.472 3.20738 51.5013 3.61823 50.7547 4.28929V3.94965C50.7453 3.78537 50.6757 3.63082 50.56 3.51702C50.4442 3.40322 50.2909 3.3386 50.1307 3.33611H47.2773C47.1085 3.339 46.9477 3.41028 46.8298 3.53443C46.7119 3.65858 46.6466 3.82555 46.648 3.99896V20.2139C46.6466 20.3873 46.7119 20.5543 46.8298 20.6784C46.9477 20.8026 47.1085 20.8739 47.2773 20.8767H50.1307C50.4507 20.8767 50.7093 20.6275 50.752 20.3043V8.66349C50.7411 8.38112 50.8387 8.10566 51.0238 7.89658C51.2089 7.6875 51.4666 7.56157 51.7413 7.54597H52.264C52.4845 7.56363 52.6947 7.64959 52.8667 7.79249C52.9907 7.89909 53.0898 8.03296 53.1568 8.18418C53.2237 8.33541 53.2567 8.50015 53.2533 8.66623V19.825L53.264 20.2495C53.2633 20.4229 53.3293 20.5896 53.4477 20.7132C53.566 20.8369 53.7272 20.9074 53.896 20.9096H56.7493C56.9124 20.9069 57.0683 20.8401 57.1849 20.7229C57.3015 20.6057 57.3699 20.4471 57.376 20.2796L57.3733 8.6498C57.3733 8.26634 57.5387 7.92122 57.8373 7.71853C57.9936 7.61243 58.1733 7.54838 58.36 7.53228H58.888C59.5013 7.58706 59.8747 8.08008 59.8747 8.6498C59.888 12.4735 59.8853 16.319 59.8853 20.2194C59.8846 20.3928 59.9506 20.5595 60.069 20.6831C60.1874 20.8067 60.3485 20.8773 60.5173 20.8795H63.3707C63.7173 20.8795 64 20.5837 64 20.2194V7.77605C64 6.92696 63.9093 6.56541 63.7867 6.19564C63.5025 5.32883 62.9615 4.575 62.2394 4.03966C61.5174 3.50432 60.6505 3.21427 59.76 3.21012H59.72C59.144 3.21059 58.5742 3.33236 58.0458 3.56791C57.5175 3.80347 57.0417 4.14779 56.648 4.57963C55.872 3.73601 54.7813 3.21012 53.5733 3.21012L53.5333 3.20738ZM0.618689 3.37994C0.536744 3.38065 0.455738 3.39794 0.380297 3.43082C0.304857 3.46369 0.236459 3.5115 0.17901 3.57153C0.121561 3.63155 0.0761858 3.70262 0.045475 3.78065C0.0147643 3.85869 -0.000680396 3.94218 2.29878e-05 4.02635V20.2523C2.29878e-05 20.6138 0.256023 20.9041 0.576023 20.9124H3.48269C3.82935 20.9124 4.11469 20.6193 4.11469 20.255L4.12535 15.7137H6.85335C9.13869 15.7137 10.728 14.0566 10.728 11.6572V7.44463C10.728 5.04252 9.13869 3.37994 6.85335 3.37994H0.618689ZM24.704 3.37994C24.6203 3.38065 24.5376 3.3983 24.4605 3.43186C24.3835 3.46542 24.3136 3.51425 24.2549 3.57554C24.1962 3.63684 24.1499 3.70941 24.1185 3.78911C24.0871 3.86881 24.0713 3.95407 24.072 4.04004V10.8054C24.072 13.3801 25.824 15.2097 28.2827 15.2097H30.0827C30.0827 15.2097 30.1253 15.2097 30.1813 15.2207C30.3456 15.2415 30.4967 15.3236 30.6058 15.4514C30.715 15.5792 30.7746 15.7437 30.7733 15.9137C30.7733 16.2697 30.5173 16.5573 30.1893 16.6011L30.1413 16.6121L29.3333 16.6285H25.9707C25.8026 16.6307 25.6421 16.701 25.5242 16.8241C25.4064 16.9473 25.3406 17.1132 25.3413 17.2859V20.2714C25.3399 20.4448 25.4053 20.6118 25.5231 20.7359C25.641 20.8601 25.8019 20.9314 25.9707 20.9343H30.6373C33.0907 20.9343 34.8427 19.1019 34.8427 16.5299V4.04004C34.8434 3.86736 34.7777 3.70139 34.6598 3.57827C34.5419 3.45514 34.3814 3.38484 34.2133 3.38268H31.36C31.1919 3.38484 31.0314 3.45514 30.9136 3.57827C30.7957 3.70139 30.73 3.86736 30.7307 4.04004C30.7173 6.19564 30.7307 8.21703 30.7307 10.2165C30.7286 10.3975 30.6577 10.5704 30.5331 10.6983C30.4085 10.8263 30.2402 10.8991 30.064 10.9013H28.8667C28.6882 10.8991 28.5178 10.8244 28.3929 10.6935C28.2679 10.5626 28.1986 10.3861 28.2 10.2028C28.2133 8.1376 28.1867 6.0943 28.1867 4.04004C28.1874 3.86736 28.1217 3.70139 28.0038 3.57827C27.8859 3.45514 27.7254 3.38484 27.5573 3.38268L24.704 3.37994ZM14.0267 3.39637C13.9454 3.39419 13.8646 3.40847 13.7887 3.4384C13.7128 3.46833 13.6434 3.51332 13.5845 3.57081C13.5255 3.6283 13.4782 3.69715 13.4452 3.77343C13.4122 3.84971 13.3941 3.93193 13.392 4.01539V6.8174C13.392 7.17895 13.6934 7.47476 14.064 7.47476H17.832C18.1307 7.52133 18.3653 7.74866 18.4 8.10473V8.4882C18.3653 8.82783 18.1333 9.07434 17.848 9.10174H15.9813C13.5014 9.10174 11.7307 10.8273 11.7307 13.2513V16.7271C11.7307 19.1375 13.2507 20.8521 15.7174 20.8521H20.8907C21.8187 20.8521 22.5707 20.1126 22.5707 19.2087V7.88014C22.5707 5.13017 21.216 3.39637 17.984 3.39637H14.0267ZM4.12535 7.7021H5.93335C6.30402 7.7021 6.60002 8.01709 6.60002 8.40329V10.6931C6.60108 10.7841 6.58467 10.8744 6.55174 10.9589C6.51881 11.0434 6.46999 11.1204 6.40809 11.1855C6.34618 11.2506 6.27239 11.3026 6.19094 11.3384C6.10948 11.3742 6.02195 11.3932 5.93335 11.3943H5.66669C5.15469 11.3998 4.63735 11.3943 4.12535 11.3943V7.7021ZM16.5787 13.1171H17.7653C18.136 13.1171 18.4373 13.4129 18.4373 13.7745V16.3272C18.4364 16.3983 18.4238 16.4687 18.4 16.5354C18.3525 16.6686 18.266 16.7833 18.1523 16.8638C18.0386 16.9442 17.9034 16.9865 17.7653 16.9846H16.5787C16.4049 16.9883 16.2367 16.9213 16.1108 16.7981C15.985 16.675 15.9116 16.5057 15.9067 16.3272V13.7717C15.9067 13.4102 16.208 13.1171 16.5787 13.1171Z" fill="#D0D0D0"/>
                        </svg>
                            
                        <svg width="20" height="29" viewBox="0 0 20 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.9103 8.617C18.0659 9.47826 17.9456 10.369 17.5678 11.1518C17.1901 11.9345 16.576 12.5656 15.8203 12.9477L15.7979 12.9582C16.8989 13.1766 17.8933 13.7863 18.6122 14.6837L18.6189 14.6918C19.1162 15.4665 19.4135 16.4197 19.4135 17.4452C19.4135 17.7438 19.3878 18.0378 19.3398 18.3225L19.3442 18.2922C19.2865 19.0342 19.1038 19.7597 18.8044 20.4353L18.8201 20.3957C18.5729 20.9595 18.2203 21.466 17.7829 21.8855L17.7795 21.889C17.3271 22.3015 16.8104 22.6302 16.2517 22.8608L16.2159 22.8737C15.6036 23.1356 14.9657 23.3273 14.3137 23.4453L14.2567 23.4547C13.5794 23.5783 12.7725 23.6682 11.9521 23.7055L11.9119 23.7067V28.0023H9.42959V23.779C8.56974 23.779 7.91406 23.7736 7.46253 23.7627V28.0023H4.98023V23.709C4.78651 23.709 4.49629 23.7063 4.10959 23.7008C3.72288 23.6954 3.42708 23.6927 3.22218 23.6927H0L0.499588 20.6127H2.28782C2.40363 20.6232 2.52027 20.6091 2.63073 20.5713C2.74119 20.5336 2.84319 20.4728 2.93058 20.3928C3.01798 20.3128 3.08896 20.2152 3.13926 20.1058C3.18957 19.9964 3.21815 19.8776 3.22329 19.7563V12.9897H3.48035C3.4041 12.9782 3.32716 12.9723 3.25012 12.9722H3.22218H3.22329V8.14333C3.17612 7.7929 2.99801 7.4762 2.72787 7.26241C2.45772 7.04862 2.1175 6.95512 1.78153 7.00233L1.78824 7.00117H0V4.24083L3.41776 4.25717C4.10549 4.25717 4.62669 4.25172 4.98135 4.24083V0.00116667H7.46365V4.15683C8.34435 4.13428 9.00004 4.123 9.43071 4.123V0H11.913V4.23967C12.7524 4.31083 13.5224 4.445 14.269 4.641L14.1695 4.61883C14.8199 4.78765 15.445 5.0491 16.0271 5.39583L15.9913 5.376C16.5378 5.69683 16.986 6.14017 17.3124 6.67333L17.3213 6.6885C17.6614 7.2679 17.8634 7.92405 17.9103 8.60183L17.9114 8.61583L17.9103 8.617ZM14.4445 17.7882V17.7438C14.4445 17.3658 14.3551 17.0112 14.1975 16.6985L14.2031 16.7102C14.0561 16.4153 13.8548 16.1537 13.6107 15.9402L13.6074 15.9367C13.3354 15.7153 13.0292 15.5441 12.7021 15.4303L12.6808 15.4233C12.3536 15.2977 12.0182 15.1968 11.6772 15.1212L11.6258 15.1118C11.2404 15.0354 10.8506 14.9855 10.4589 14.9625L10.4332 14.9613C9.96084 14.9279 9.59016 14.9112 9.32118 14.9112C9.0522 14.9112 8.70572 14.9166 8.28176 14.9275C7.8578 14.9384 7.60261 14.9438 7.51618 14.9438V20.6278C7.60186 20.6278 7.8008 20.6306 8.113 20.636C8.42519 20.6414 8.683 20.6442 8.88641 20.6442C9.08982 20.6442 9.37482 20.6356 9.74141 20.6185C10.108 20.6014 10.4224 20.5788 10.6847 20.5508C10.947 20.5228 11.2532 20.4754 11.6034 20.4085C11.9499 20.3455 12.2505 20.2638 12.5411 20.16L12.4975 20.174C12.7971 20.062 13.0496 19.943 13.2911 19.8053L13.262 19.8205C13.509 19.6875 13.7202 19.5183 13.8968 19.3177L13.8979 19.3165C14.0589 19.1252 14.1919 18.9023 14.288 18.6597L14.2936 18.6433C14.3948 18.3808 14.4464 18.1003 14.4456 17.8173V17.7858V17.787L14.4445 17.7882ZM13.3 9.77783V9.73467C13.3 9.39283 13.2251 9.06967 13.0932 8.78033L13.0988 8.79317C12.9787 8.52814 12.8123 8.28879 12.6082 8.08733L12.6071 8.08617C12.3842 7.88526 12.1276 7.72903 11.8504 7.62533L11.8336 7.6195C11.558 7.50358 11.2735 7.41226 10.9831 7.3465L10.9462 7.3395C10.6282 7.27562 10.3069 7.23121 9.98394 7.2065L9.95376 7.20417C9.56184 7.17072 9.25002 7.15672 9.01829 7.16217C8.78657 7.16761 8.49635 7.17306 8.14765 7.1785C7.79894 7.18394 7.58659 7.18667 7.51059 7.18667V12.3527L8.06718 12.3608C8.38459 12.3663 8.6342 12.3663 8.816 12.3608C8.9978 12.3554 9.26604 12.3441 9.62071 12.327C9.93172 12.316 10.2417 12.2829 10.5484 12.2278L10.5081 12.2337C10.7465 12.1886 11.023 12.1263 11.3374 12.047C11.6325 11.9793 11.894 11.872 12.1321 11.7285L12.1186 11.7355C12.3311 11.6002 12.5323 11.4465 12.7199 11.2758L12.7144 11.2805C12.906 11.1083 13.0542 10.8895 13.1458 10.6435L13.1491 10.633C13.243 10.3857 13.2966 10.0987 13.2966 9.79883V9.77433V9.7755L13.3 9.77783Z" fill="#D0D0D0"/>
                        </svg>
                    </div>
                    <div class="btn-deposit d-flex justify-content-center align-items-center">
                        <p class="deposit-btn">Deposit</p>
                        <p class="cancel-btns" (click)="cancelPopup()">Cancel</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

  <!-- Popup Profile -->
  <div class="popup-profile-cb">
    <div class="profile-container">
        <div class="cancel-btn" (click)="cancelProfile()">
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.44629 6.4458L19.3393 19.3388" stroke="#7B7B7B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M6.44586 19.3388L19.3389 6.4458" stroke="#7B7B7B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <h2>welcome, sarthak007</h2>
        <div class="cb-profile-inputs d-flex justify-content-between align-items-center flex-wrap">
            <div class="col-profile-input">
                <p>Email Address</p>
                <input type="email" class="input-profile" placeholder="sarthak007@gmail.com">
            </div>
            <div class="col-profile-input">
                <p>Account Number</p>
                <input type="text" class="input-profile" placeholder="Enter Your Acount Number">
            </div>
            <div class="col-profile-input">
                <p>Bank Name</p>
                <input type="text" class="input-profile" placeholder="Enter Your Bank Name">
            </div>
            <div class="col-profile-input">
                <p>Account Holder Name</p>
                <input type="text" class="input-profile" placeholder="Enter Your Account Name">
            </div>
            <div class="col-profile-input">
                <p>Branch IFSC</p>
                <input type="text" class="input-profile" placeholder="Enter Your Branch IFSC">
            </div>
            <div class="col-profile-input">
                <p>Mobile Number</p>
                <input type="text" class="input-profile" placeholder="Enter Your Mobile Number">
            </div>
        </div>
        <div class="btn-profile d-flex justify-content-center align-items-center mt-4">
            <p class="profile-btn">Save</p>
            <p class="cancel-btns" (click)="cancelProfile()">Cancel</p>
        </div>
    </div>
  </div>

  <!-- Popup Profit and Loss -->
  <div class="popup-pl-cb">
    <div class="pl-container">
        <div class="cancel-btn" (click)="cancelPL()">
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.44629 6.4458L19.3393 19.3388" stroke="#7B7B7B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M6.44586 19.3388L19.3389 6.4458" stroke="#7B7B7B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <h2>Profit and Loss</h2>
        <div class="cb-pl-inputs d-flex justify-content-between align-items-center flex-wrap">
            <div class="cb-pl-dropdowns" id="cb-pl-dropdowns-width">
                <p>select sport / games</p>
                <div class="dropdown">
                    <button class="btn cb-dropdown-dark d-flex justify-content-between align-items-center dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        All
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
            <div class="cb-pl-dropdowns">
                <p>From Date</p>
                <div class="dropdown">
                    <button class="btn cb-dropdown-dark d-flex justify-content-between align-items-center dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                        17/08/2021
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
            <div class="cb-pl-dropdowns">
                <p>From Date</p>
                <div class="dropdown">
                    <button class="btn cb-dropdown-dark d-flex justify-content-between align-items-center dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                        20/08/2021
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cb-list-details">
            <div class="cb-list-items d-flex justify-content-between align-items-center">
                <p>Sport Games</p>
                <p>Market</p>
                <p>Result</p>
                <p>P & L</p>
                <p>Started Date</p>
            </div>
            <div class="cb-data-items">
                <p>No Data Available</p>
            </div>
        </div>
    </div>
  </div>

  <!-- Provider -->
  <div class="provider-container desktop-only">
      <swiper [config]="swiperprovider">
          <div class="swiper-wrapper">
              <div class="swiper-slide">
                  <div class="provider-circle">
                      <img src="../assets/images/Hollywood-tv.png" alt="">
                  </div>
              </div>
              <div class="swiper-slide">
                  <div class="provider-circle">
                      <img src="../assets/images/Ezugi.png" alt="">
                  </div>
              </div>
              <div class="swiper-slide">
                  <div class="provider-circle">
                      <img src="../assets/images/betgames.png" alt="">
                  </div>
              </div>
              <div class="swiper-slide">
                  <div class="provider-circle">
                      <img src="../assets/images/Binary.png" alt="">
                  </div>
              </div>
              <div class="swiper-slide">
                  <div class="provider-circle">
                      <img src="../assets/images/Ezugi.png" alt="">
                  </div>
              </div>
          </div>
      </swiper>
      <!-- navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
  </div>
  <div class="provider-container mobile-only">
      <div class="three-row-col d-flex justify-content-center align-items-center" id="cb-col-1">
          <div class="cb-col">
              <img src="../assets/images/Hollywood-tv.png" alt="">
          </div>
          <div class="cb-col">
              <img src="../assets/images/Ezugi.png" alt="">
          </div>
          <div class="cb-col">
              <img src="../assets/images/betgames.png" alt="">
          </div>
      </div>
      <div class="three-row-col d-flex justify-content-center align-items-center" id="cb-col-2">
          <div class="cb-col">
              <img src="../assets/images/Hollywood-tv.png" alt="">
          </div>
          <div class="cb-col">
              <img src="../assets/images/Ezugi.png" alt="">
          </div>
          <div class="cb-col">
              <img src="../assets/images/betgames.png" alt="">
          </div>
      </div>
  </div>
</div>