
.provider-container{
    position: fixed;
    width: 100%;
    padding: 0 230px;
    bottom: 0;
    z-index: 999;
    left: 0;
}
.provider-container::before{
    position: absolute;
    content: "";
    transform: matrix(1, 0, 0, -1, 0, 0);
    width: 100%;
    height: 100%;
    bottom: 0px;
}
.provider-container .swiper-wrapper{
    padding: 15px 0px 15px 20px;
}

.provider-circle{
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.swiper-button-prev:after,
.swiper-button-next:after{
    font-size: 18px;
}
.swiper-button-prev{
    top: 54px;
    left: 170px;
    border-radius: 10px;
    width: 32px;
    height: 56px;
}
.swiper-button-next{
    top: 54px;
    right: 170px;
    border-radius: 10px;
    width: 32px;
    height: 56px;
}
.provider-circle img{
    width: 66px;
}


@media (max-width: 700px){
    .provider-container{
        padding: 20px 0;
        
    }
    .provider-container::before{
        display: none;
    }
    .three-row-col .cb-col{
        width: 75px;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
    .three-row-col .cb-col img{
        width: 55px;
    }
    #cb-col-1 .cb-col{
        width: 100px;
        height: 100px;
        margin: 0 6px;
        position: relative;
        z-index: 2;
    }
    #cb-col-1 img{
        width: 70px;
    }
    #cb-col-2 .cb-col{
        margin: 0 8px;
        margin-top: -20px;
        position: relative;
        z-index: 1;
    }
}

@media (max-width: 1200px){
    .provider-container{
        padding: 0 180px;
    }
    .swiper-slide{
        margin-right: 35px;
    }
}
@media (max-width: 900px){
    .provider-container{
        padding: 0 100px;
    }
    .swiper-slide{
        margin-left: 16px;
        margin-right: 0;
    }
    .swiper-button-prev{
        left: 54px;
    }
    .swiper-button-next{
        right: 80px;
    }
}
/* .rotate3d #cb-col-1 .cb-col{
    width: 75px;
    height: 75px;
}
.rotate3d #cb-col-1 img{
    width: 55px;
}
.rotate3d #cb-col-2 .cb-col{
    width: 100px;
    height: 100px;
}
.rotate3d #cb-col-2 img{
    width: 70px;
}

.rotate3d #cb-col-1{
    margin-top: -25px;
}
.rotate3d #cb-col-2{
    margin-top: 10px;
} */

/* @keyframes rotate3d {
    0%{
        
    }
    20%{

    }
    40%{

    }
    60%{
        
    }
    80%{

    }
    100%{

    }
} */