<div class="provider-container desktop-only">
    <swiper [config]="config">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="provider-circle">
                    <img src="../../../assets/images/Hollywood-tv.png" alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="provider-circle">
                    <img src="../../../assets/images/Ezugi.png" alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="provider-circle">
                    <img src="../../../assets/images/betgames.png" alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="provider-circle">
                    <img src="../../../assets/images/Binary.png" alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="provider-circle">
                    <img src="../../../assets/images/Ezugi.png" alt="">
                </div>
            </div>
        </div>
    </swiper>
    <!-- navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
<div class="provider-container mobile-only">
    <div class="three-row-col d-flex justify-content-center align-items-center" id="cb-col-1">
        <div class="cb-col">
            <img src="../../../assets/images/Hollywood-tv.png" alt="">
        </div>
        <div class="cb-col">
            <img src="../../../assets/images/Ezugi.png" alt="">
        </div>
        <div class="cb-col">
            <img src="../../../assets/images/betgames.png" alt="">
        </div>
    </div>
    <div class="three-row-col d-flex justify-content-center align-items-center" id="cb-col-2">
        <div class="cb-col">
            <img src="../../../assets/images/Hollywood-tv.png" alt="">
        </div>
        <div class="cb-col">
            <img src="../../../assets/images/Ezugi.png" alt="">
        </div>
        <div class="cb-col">
            <img src="../../../assets/images/betgames.png" alt="">
        </div>
    </div>
</div>