.cb-blur-effect-1,
.cb-blur-effect-2,
.cb-blur-effect-5{
    position: absolute;
    background: url(../../../assets/images/blur-card.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.cb-blur-effect-1{
    position: absolute;
    width: 367.79px;
    height: 338.11px;
    left: -230px;
    top: -340.8px;
    border-radius: 50%;
    filter: blur(200px);
    transform: rotate(183deg);
    
}
.cb-blur-effect-2{
    display: none;
    position: absolute;
    width: 467.79px;
    height: 438.11px;
    left: 646px;
    top: -331.8px;
    opacity: 0.13;
    filter: blur(35px);
    border-radius: 50%;
    transform: rotate(-87deg);
}
.cb-blur-effect-3{
    display: none;
    position: absolute;
    width: 605px;
    height: 605px;
    left: 1270px;
    top: -262px;
    opacity: 0.5;
    filter: blur(300px);

    -webkit-filter: blur(300px);
    -moz-filter: blur(300px);
}
.cb-blur-effect-4{
    position: absolute;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    right: 15px;
    bottom: -247px;
    opacity: 0.8;
    filter: blur(152px);
}
.cb-blur-effect-5{
    position: absolute;
    width: 100.9px;
    height: 100.59px;
    left: 285px;
    top: 236.98px;
    filter: blur(50px);
    transform: rotate(-45deg);
}
@media (max-width: 700px) {
    .cb-blur-effect-5{
        display: none;
    }
}