<div style="position: fixed;">
    <div class="cb-blur-effect-1"></div>
    <div class="cb-blur-effect-2"></div>
    <div class="cb-blur-effect-3"></div>
    <div class="cb-blur-effect-4"></div>
    <div class="cb-blur-effect-5"></div>
</div>