.header-cb .logo-cb a,
.header-cb .login-cb,
.header-cb .registration-cb{
    font-family: 'Open Sans', sans-serif;
}
.position-fixed{
    z-index: 1;
    top: 0;
}
.header-cb{
    padding: 16px 70px 0px;
    z-index: 999;
}
.header-cb .logo-cb a{
    color: #232222;
    text-transform: uppercase;
    margin: 0;
    font-size: 35px;
    text-decoration: none;
}
.header-cb .logo-cb a span{
    font-weight: 700;
}
.header-cb .login-cb{
    color: #232222;
    margin: 0;
    font-size: 16px;
    margin-top: -10px;
    margin-right: 45px;
}
.header-cb .registration-cb{
    background-color: #272729;
    border-radius: 4px;
    padding: 6px 25px;
    color: #fff;
    margin: 0;
    font-size: 16px;
    margin-top: -10px;
}

.theme-switcher-wrap{
    margin-right: 30px;
}
.theme-switcher{
    display: inline-block;
    cursor: pointer;
}
.switch-path{
    width: 40px;
    height: 20px;
    border-radius: 10px;
    background-color: #ccc;
}
.switch-handle{
    background-color: #999;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}
/* .theme-switcher{
    display: none;
} */
.theme-switcher.active .switch-path{
    background-color: #555;
}
.theme-switcher.active .switch-handle{
    background-color: #7bbb5e;
    transform: translateX(20px);
}


