.cb-game-title{
    font-size: 20px;
}
.cb-games-layer{
    padding: 8px 14px 14px;
    position: relative;
    cursor: pointer;
    transform: scale(0.9);
    margin: 0 -3px;
}

.cb-games-layer::before{
    content: "";
    position: absolute;
    opacity: 0.7;
    width: 172px;
    height: 196px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    top: 30px;
    left: 3px;
}
.cb-shade-1{
    position: absolute;
    width: 60px;
    height: 68px;
    left: 8px;
    top: 100px;
    background: #DD9A4B;
    opacity: 0.3;
    filter: blur(20px);
    z-index: 1;
}
.cb-shade-2{
    position: absolute;
    width: 60px;
    height: 68px;
    right: 6px;
    top: 34px;
    background: #AE4387;
    opacity: 0.4;
    filter: blur(20px);
    z-index: 1;
}
@media (max-width: 500px) {
    .cb-shade-1{
        position: absolute;
        width: 30px;
        height: 38px;
        left: 17px;
        top: 108px;
        background: #DD9A4B;
        opacity: 0.3;
        filter: blur(20px);
        z-index: 1;
    }
    .cb-shade-2{
        position: absolute;
        width: 30px;
        height: 38px;
        right: 24px;
        top: 35px;
        background: #AE4387;
        opacity: 0.4;
        filter: blur(20px);
        z-index: 1;
    }
}
.cb-col-games{
    box-sizing: border-box;
    width: 174px;
    height: 208px;
    border-top-left-radius: 47%;
    border-top-right-radius: 47%;
    padding: 6px 12px;
    position: relative;
    text-align: left;
    overflow: hidden;
}
/* .cb-col-games::before{
    background: url(../../../assets/images/blur-card.png);
    content: "";
    position: absolute;
    top: -80px;
    right: -42px;
    opacity: 0.4;
    filter: blur(29px);
    transform: rotate(141.04deg);
    width: 155.27px;
    height: 150.26px;
}
.cb-col-games::after{
    background: url(../../../assets/images/blur-card.png);
    content: "";
    position: absolute;
    bottom: -109px;
    left: -74px;
    opacity: 0.5;
    filter: blur(27px);
    transform: rotate(16.04deg);
    width: 155.27px;
    height: 150.26px;
    z-index: -1;
} */
.cb-col-games .cb-img-container{
    width: 100%;
    overflow: hidden;
}

.cb-col-games img{
    position: relative;
    width: 100%;
    left: 0;
    border-radius: 6px;
    height: 105px;
    object-fit: cover;
    z-index: 2;
}
.cb-col-games p{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 0.065em;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 12px;
    position: relative;
    z-index: 2;
}
/* .cb-col-games h3{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    margin-top: 2px;
} */
.cb-fav-container{
    height: 45px;
    position: relative;
    z-index: 2;
}

.cb-col-games .cb-fav-container h3{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    margin-bottom: 0;
    margin-top: 5px;
    letter-spacing: 0.8px;
    width: 114px;
}
.cb-favourite{
    width: 28px;
    height: 29.22px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Game Showcase */
.game-showcase{
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    overflow: hidden;
    position: relative;
    z-index: 10;
    transition: none !important;
}
.game-showcase .game-showcase-content{
    width: 90%;
}
.game-showcase .game-showcase-blur-effect{
    position: absolute;
    opacity: 0.5;
    right: 2%;
    top: -5%;
}

.game-showcase .nav.nav-pills{
    display: none;
    padding: 40px 60px 20px 30px;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;

}

@media (min-width: 500px) {
    .tab-pane{
        padding-top: 20px;
    }
}

.cb-tab-ui.nav-pills .nav-link{
    width: 160px;
    height: 50px;
    border-radius: 6px;
    margin-right: 15px;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    z-index: 999;
    transition: none !important;
}
.cb-tab-ui.nav-pills .nav-link.active{
    border-radius: 5px;
}
.cb-tab-ui.nav-pills .nav-link.active::before{
    content: "";
    position: absolute;
    top: 52%;
    left: 51%;
    transform: translate(-50%,-50%);
    width: 98%;
    height: 92%;
    border-radius: 5px;
    z-index: -1;
}
.game-showcase .cb-row-games{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    padding: 10px 10px 135px;
}
.cb-row-games a{
    height: fit-content;
    margin: 0 5px;
}
.game-showcase .cb-row-games::-webkit-scrollbar {
    width: 2px;
}

/* Track */
.game-showcase .cb-row-games::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px fff; 
    border-radius: 10px;
}

/* Handle */
.game-showcase .cb-row-games::-webkit-scrollbar-thumb {
    border-radius: 10px;
    opacity: 0.7;
}

/* Handle on hover */
.game-showcase .cb-row-games::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}
.cb-search-filter-box{
    margin-left: auto;
}
.cb-search-box{
    width: 342px;
    height: 50px;
    outline: none;
    padding: 0 20px 0 38px;
    box-sizing: border-box;
    border-radius: 12px;
    margin-right: 15px;
}
.cb-search-box::placeholder{
    font-family: 'Josefin Sans',sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
}
.cb-filter-box{
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 12px;
    cursor: pointer;
}
.search-icon{
    width: 20px;
    top: 50%;
    left: 6%;
    transform: translate(-50%, -50%);
}

/* Right Side Bar */
.right-side-bar-content{
    width: 10%;
    height: 100vh;
}
.right-side-bar{
    border-radius: 8px;
    width: 53px;
    height: 53px;
    cursor: pointer;
    margin-bottom: 15px;
    flex-direction: column;
}
.right-side-bar p{
    font-size: 8px;
    margin: 0;
    margin-top: -3px;
}
.right-side-bar img{
    width: 34px;
}

@media (max-width: 735px){
    .right-side-bar-content.d-flex.desktop-only{
        display: none !important;
    }
}

.tab-content{
    overflow: hidden;
}
.filter-container{
    transition: margin 0.3s ease;
    /* background: #fff; */
    margin: 0 30px 10px;
    margin-top: -115px;
    padding-bottom: 20px;
}
.show-filter-box.filter-container{
    margin-top: 0px;
    padding-bottom: 0px;
}

.cb-row-games-container{
    opacity: 0;
    visibility: hidden;
}

.right-side-bar{
    transform: translate(95px, -20px);
}


.side-provider-content{
    opacity: 0;
    transform: translate(-62px, -42px);
}
.mystyle .nav-link:nth-child(1) .side-provider-content{
    opacity: 1;
    transform: translate(0, 0);
    transition: all 1s ease 3s;
}
.mystyle .nav-link:nth-child(2) .side-provider-content{
    opacity: 1;
    transform: translate(0, 0);
    transition: all 1s ease 3.3s;
}
.mystyle .nav-link:nth-child(3) .side-provider-content{
    opacity: 1;
    transform: translate(0, 0);
    transition: all 1s ease 3.6s;
}
.mystyle .nav-link:nth-child(4) .side-provider-content{
    opacity: 1;
    transform: translate(0, 0);
    transition: all 1s ease 3.9s;
}
.mystyle .nav-link:nth-child(5) .side-provider-content{
    opacity: 1;
    transform: translate(0, 0);
    transition: all 1s ease 4.2s;
}
.mystyle .nav-link:nth-child(6) .side-provider-content{
    opacity: 1;
    transform: translate(0, 0);
    transition: all 1s ease 4.5s;
}
@keyframes top-to-bottom{
    0%{
        transform: translate(-165%, -40px);
    }
    50%{
        transform: translate(-40%, -18px);
    }
    100%{
        transform: translate(0,0);
    }
}
.cb-homeafter-login .nav-tabs .nav-link.active:before,
.cb-homeafter-login .nav-tabs .nav-link.active:after{
    opacity: 0;
}
.cb-side-tab .nav-link.active{
    background: transparent !important;
}

/* .mystyle .cb-row-games-container{
    opacity: 1;
    visibility: visible;
    transition: all 2s ease 2s;
} */
.mystyle .cb-homeafter-login .nav-tabs .nav-link.active:before,
.mystyle .cb-homeafter-login .nav-tabs .nav-link.active:after{
    /* opacity: 1; */
    transition: all 2s ease 7s;
}
.mystyle .cb-side-tab .nav-link.active{

    /* background: #252629 !important; */
    transition: all 2s ease 7s;
}
.filter-container .cb-dropdown-dark{
    border-radius: 12px;
    font-family: 'Josefin Sans', sans-serif;
    color: #8D8484 !important;
    font-size: 12px;
    text-align: left;
    width: 230px;
    transition: none !important;
    height: 46px;
}
.filter-container p{
    margin: 0;
    text-transform: capitalize;
    color: #8D8484 !important;
    font-size: 12px;
    margin-bottom: 5px;
}
.img-text h4{
    font-size: 12px;
    margin: 0;
}
.img-text img{
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

.cb-provider-search{
    border-radius: 12px;
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 40px;
    border: none;
    outline: none;
    width: 230px;
    height: 46px;
}
.cb-searchbox img{
    position: absolute;
    left: 9px;
    width: 22px;
    top: 50%;
    transform: translate(0px, -50%);
}

#new-game-container{
    margin-top: 10px !important;
    border-radius: 12px;
    width: 100%;
    padding: 20px 20px 0 !important;
    border: none;
}
#new-game-container h4{
    margin: 0;
    font-size: 18px !important;
    color: #8D8484 !important;
}
#new-game-container li img{
    margin-right: 10px;
}
#new-game-container li{
    margin-bottom: 18px;
}

.cb-iframe-container{
    padding: 0 20px;
    display: none;
}
.cb-iframe-container.show{
    display: block;
}
.cb-row-games.hide{
    display: none;
}
.cb-iframe-container iframe{
    height: calc(100vh - 108px);
    width: 100%;
    display: block;
}
@media (max-width: 700px) {
    .cb-fav-container{
        height: 36px !important;
    }
    .cb-col-games .cb-fav-container h3 {

        letter-spacing: 0px !important;
        width: 68px !important;
    }
    .cb-favourite{
        width: 21px;
        height: 22.22px;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2px;
    }
    .cb-favourite svg{
        width: 10px;
    }
    .cb-col-games img{
        height: 66px;
        object-fit: cover;
    }
}