.cb-iframe{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #fff;
}
.header{
    background-color: #ffc21d;;
    padding: 0.25rem 0.5rem 0.25rem 0;
    transition: all 400ms;
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 4px 20px;
    align-items: center;
}
.header h3{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0 !important;
    color: #000;
}
.header .logo h3{
   font-size: 25px;
}
.header .cb-deposit-account h3{
    font-size: 14px;
    line-height: 16px;
    margin-right: 20px !important;
    background: #000;
    color: #fff;
    padding: 8px 10px;
    border-radius: 4px;
 }
 .cb-iframe-left-side{
    z-index: 45;
    height: calc(100vh - 50px);
    min-width: 250px;
    width: 250px;
    position: relative;
    box-shadow: 1px 10px 15px rgb(0 0 0 / 30%);
    background: #F3F0DC;
 }
 .cb-iframe-left-side ul{
     margin-top: 20px;
     padding-left: 4px;
 }
 .cb-iframe-left-side ul li{
    list-style: none;
    background: linear-gradient(90deg, #ffc21d 0%, rgba(255, 255, 255, 0) 100%);
    padding: 4px 10px;
    margin-bottom: 5px;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
 }
 .cb-right-side{
    height: calc(100vh - 50px);
    margin: 0;
    width: 100%;
    background: #F3F0DC;
 }
 .cb-nav ul{
    height: 46px;
    margin: 0;
    display: flex;
    background: #F3F0DC;
    align-items: center;
 }
 .cb-nav ul li{
     list-style: none;
     margin-right: 30px;
     font-size: 18px;
     font-family: 'Josefin Sans', sans-serif;
     color: #000;
 }
 .cb-iframe-container iframe{
    height: calc(100vh - 125px);
    width: 100%;
 }















 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600&display=swap');

/* Shade Effect */
.cb-shade-effects{
    width: 100%;
    overflow: hidden;
}
.cb-shade-effect-1,
.cb-shade-effect-2,
.cb-shade-effect-5{
    position: fixed;
    background: url(../../../assets/images/blur-card.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.cb-shade-effect-1{
    position: fixed;
    width: 367.79px;
    height: 338.11px;
    left: -230px;
    top: -340.8px;
    border-radius: 50%;
    filter: blur(200px);
    transform: rotate(183deg);
    z-index: 3;
}
.cb-shade-effect-2{
    display: none;
    position: fixed;
    width: 467.79px;
    height: 438.11px;
    left: 646px;
    top: -331.8px;
    opacity: 0.13;
    filter: blur(35px);
    border-radius: 50%;
    transform: rotate(-163deg);
    z-index: 3;
}
.cb-shade-effect-3{
    position: fixed;
    width: 605px;
    height: 605px;
    left: 1270px;
    top: -262px;
    filter: blur(300px);

    -webkit-filter: blur(300px);
    -moz-filter: blur(300px);
    background: #CFC9C9;
    opacity: 0.5;
    z-index: 3;
}
.cb-shade-effect-4{
    position: fixed;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    right: 220px;
    bottom: -247px;
    opacity: 0.6;
    background: #E6E4E4;
    filter: blur(68px);
    z-index: 3;
}
.cb-shade-effect-5{
    position: fixed;
    width: 100.9px;
    height: 100.59px;
    left: 285px;
    opacity: 0.8;
    top: 236.98px;
    filter: blur(50px);
    transform: rotate(-45deg);
}


/* Dark Light Mode CSS */
.theme-switcher-wrap{
    margin-right: 30px;
}
.theme-switcher{
    display: inline-block;
    cursor: pointer;
}
.theme-switcher .switch-path{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F6F6F6;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(224, 224, 224, 0.5), inset -1px 1px 2px rgba(224, 224, 224, 0.2), inset 1px -1px 2px rgba(224, 224, 224, 0.2), inset -1px -1px 2px rgba(255, 255, 255, 0.9), inset 1px 1px 3px rgba(224, 224, 224, 0.9);
    margin-top: -10px;
}
.theme-switcher .switch-handle{
    width: 20px;
    height: 20px;
    background: url(../../../assets/images/dark-mode.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
}
.theme-switcher.active .switch-path{
    background: #272728;
    box-shadow: inset -1px -1px 1px #3C3C3E, inset 1.5px 1.5px 5px #101012;
}
.theme-switcher.active .switch-handle{
    background: url(../../../assets/images/lightmode.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
}


/* Header */
.header-fixed{
    z-index: 2;
}
.header-cb .logo-cb a,
.header-cb .login-cb,
.header-cb .rc-btn-cb{
    font-family: 'Josefin Sans', sans-serif;
}

.header-cb{
    padding: 20px 70px 0px;
}
.header-cb .logo-cb a{
    text-transform: uppercase;
    margin: 0;
    font-size: 35px;
    text-decoration: none;
}
.header-cb .logo-cb a span{
    font-weight: 700;
}
.header-cb .login-cb{
    margin: 0;
    font-size: 14px;
    margin-top: -10px;
}
.header-cb .rc-btn-cb{
    border-radius: 5px;
    padding: 8px 20px;
    margin: 0;
    font-size: 14px;
    cursor: pointer;
    margin-top: -10px;
}

.header-cb .dropdown {
    margin-top: -6px;
}
.header-cb .dropdown-toggle::after{
    display: none;
}
.header-cb .dropdown .cb-profile{
    width: 40px;
}
.btn-check:focus+.btn, .btn:focus{
    box-shadow: none;
}
.header-cb .dropdown .bottom-arrow{
    margin-left: 4px;
    width: 11px;
}
.header-cb .dropdown-menu{
    /* background: rgba(228, 223, 223, 0.122);
    box-shadow: 0px 15px 60px rgba(73, 72, 72, 0.07);
    backdrop-filter: blur(80.96px); */
    border-radius: 20px;
    padding: 20px 5px;
}
.dropdown-menu li{
    cursor: pointer;
}
.dropdown-menu li p{
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 13px;
    margin: 0;
}
.dropdown-menu li p img{
    width: 14px;
    margin-right: 10px;
    margin-top: -4px;
}
.dropdown-item.active, .dropdown-item:active,
.dropdown-item:focus, .dropdown-item:hover{
    background: transparent !important;
}




/* Container */
.cb-container{
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
}


/* Popup */
.popup-cb,
.popup-profile-cb,
.popup-pl-cb{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.deposit-withdraw,
.profile-container{
    width: 488px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);


    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
    padding: 30px;
}
.deposit-withdraw h2,
.profile-container h2,
.pl-container h2{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: #fff;
    opacity: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 16px;
}
.cb-wd-tab{
    border: 0;
    width: 300px;
    display: flex;
    border-radius: 5px;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 30px auto 0px;
    overflow: hidden;
}
.cb-wd-tab .nav-link{
    width: 100%;
    border: none;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cb-wd-tab .nav-link .small-circle{
    width: 12px;
    height: 12px;
    margin-right: 10px;
    border-radius: 50%;
    margin-top: 2px;
}
#cb-wd-tab .nav-link.active{
    position: relative;

    border-radius: 5px;
    padding: 12px 20px;
    overflow: hidden;
}
#cb-wd-tab .nav-link.active::before{
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 103%;
    height: 108%;
    border-radius: 5px;
    z-index: 1;
}
#cb-wd-tab .nav-link.active .small-circle{
    width: 12px;
    height: 12px;
    margin-right: 10px;
    border-radius: 50%;
    margin-top: 2px;
}
.d-content,
.w-content{
    font-family: 'Josefin Sans',sans-serif;
    z-index: 2;
}

#nav-deposit{
    margin-top: 40px;
}
#nav-withdraw{
    margin-top: 30px;
}
.deposit-container p{
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    font-size: 18px;
    margin: 0;
}
.enter-amount{
    margin-right: -19px;
    margin-left: 30px;
    font-family: 'Josefin Sans',sans-serif;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px 0px 10px 20px;
}
.deposit-description{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 14px;
    margin-top: 40px;
    padding: 0 20px;
}  
.deposit-description span{
    color: #fff;
    text-align: center;
}
.payment-gateway{
    width: 350px;
    margin: 30px auto 40px;
}
.btn-deposit p{
    font-family: 'Josefin Sans', sans-serif;
    color: #fff !important;
    margin: 0 20px;
    cursor: pointer;
}
.btn-deposit .deposit-btn{
    background: #16161B;
    box-shadow: 0px 4px 30px rgba(11, 10, 10, 0.05);
    border-radius: 5px;
    padding: 10px 30px;
}
.cancel-btn{
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 22px;
    color: #7B7B7B;
    cursor: pointer;
}
.col-withdraw-input p{
    font-family: 'Josefin Sans', sans-serif;
    color: #fff !important;
    margin: 0;
    margin-bottom: 10px;
    font-size: 12px;
}
.col-withdraw-input .input-withdraw{
    border-radius: 5px;
    font-family: 'Josefin Sans', sans-serif;
    border: none;
    outline: none;
    padding: 7px 0px 7px 15px;
    margin-bottom: 18px;
    width: 195px;
}
.col-withdraw-input .input-withdraw::placeholder{
    font-size: 13px;
}
#nav-withdraw .deposit-description{
    margin-top: 10px;
}
#nav-withdraw .payment-gateway{
    margin: 20px auto 20px;
}

.header-cb .dropdown {
    margin-top: -6px;
}
.header-cb .dropdown-toggle::after{
    display: none;
}
.header-cb .dropdown .cb-profile{
    width: 40px;
}
.btn-check:focus+.btn, .btn:focus{
    box-shadow: none;
}
.header-cb .dropdown .bottom-arrow{
    margin-left: 4px;
    width: 11px;
}
.header-cb .dropdown-menu{
    background: rgba(228, 223, 223, 0.122);
    box-shadow: 0px 15px 60px rgba(73, 72, 72, 0.07);
    backdrop-filter: blur(80.96px);

    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
    padding: 20px 5px;
}
.dropdown-menu li{
    cursor: pointer;
}
.dropdown-menu li p{
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 13px;
    margin: 0;
}
.dropdown-menu li p img{
    width: 14px;
    margin-right: 10px;
    margin-top: -4px;
}
.dropdown-item.active, .dropdown-item:active,
.dropdown-item:focus, .dropdown-item:hover{
    background: transparent !important;
}

.cb-profile-inputs{
    margin-top: 30px;
}
.col-profile-input p{
    font-family: 'Josefin Sans', sans-serif;
    color: #fff !important;
    margin: 0;
    margin-bottom: 10px;
    font-size: 12px;
}
.col-profile-input .input-profile{
    border-radius: 5px;
    font-family: 'Josefin Sans', sans-serif;
    border: none;
    outline: none;
    padding: 7px 0px 7px 15px;
    margin-bottom: 18px;
    width: 195px;
}
.col-profile-input .input-profile::placeholder{
    font-size: 13px;
}
.btn-profile p{
    font-family: 'Josefin Sans', sans-serif;
    color: #fff !important;
    margin: 0 20px;
    cursor: pointer;
}
.btn-profile .profile-btn{
    background: #16161B;
    box-shadow: 0px 4px 30px rgba(11, 10, 10, 0.05);
    border-radius: 5px;
    padding: 10px 30px;
}




.pl-container{
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(228, 223, 223, 0.122);
    box-shadow: 0px 15px 60px rgba(73, 72, 72, 0.07);
    backdrop-filter: blur(20.96px);

    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
    padding: 30px;
}

.cb-pl-inputs{
    margin: 30px auto 0;
    width: 615px;
}
.cb-dropdown-dark{

    border-radius: 5px;
    font-family: 'Josefin Sans', sans-serif;
    color: #8D8484;
    font-size: 15px;
    padding: 10px;
    text-align: left;
}

.cb-pl-dropdowns p{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 5px;
    font-size: 15px;
}
.cb-dropdown-dark{
    width: 170px;
}
#cb-pl-dropdowns-width .cb-dropdown-dark{
    width: 210px;
}
.cb-list-details .cb-list-items p{
    margin: 0;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
}
.cb-list-details{
    padding: 0 20px;
    margin-top: 40px;
}
.cb-list-items{
    border-bottom: 0.4px solid rgba(255, 255, 255, 0.585);
    padding-bottom: 20px;
}
.cb-data-items{
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cb-data-items p{
    margin: 0;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
}

.popup-cb,
.popup-profile-cb,
.popup-pl-cb{
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}
.pl-container,
.deposit-withdraw,
.profile-container{
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease 0.4s;
}

.show-popup.popup-cb,
.show-popup .deposit-withdraw,
.show-profile.popup-profile-cb,
.show-profile .profile-container,
.show-pl .pl-container,
.show-pl.popup-pl-cb{
    opacity: 1;
    visibility: visible;
}

/* Advertisement */

.advertisement {
    /* background: #433eff; */
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(100%, -56%);
    transition: all 1s;
    height: 437px;
}
.advertisement.slide-in{
    transform: translate(0%, -56%);
}
.advertisement .side-img{
    box-sizing: border-box;
    padding: 10px;
    border-radius: 50%;
    margin: 10px 0;
    position: relative;
    right: -3px;
    overflow: hidden;
}

.advertisement .side-img img{
    width: 90px;
    height: 90px;
    object-fit: cover;
}
.advertisement .advertisement-title img{
    padding: 3px;
    border-radius: 3px;
}

.advertisement .side-ad-col h2{
    font-size: 16px;
    font-weight: 500; 
    line-height: 20px;
    margin: 10px 10px 0;
    writing-mode: vertical-rl; 
    transform: scale(-1);
}
.advertisement .side-img.second-shade-layout::before,
.advertisement .side-img.third-shade-layout::before,
.advertisement .side-img.first-shade-ad,
.advertisement .first-shade-ad::before,
.advertisement .side-img.second-shade-ad,
.advertisement .second-shade-ad::before,
.advertisement .side-img.third-shade-ad,
.advertisement .third-shade-ad::before{
    background: url(../../../assets/images/blur-card.png);
    content: '';
    position: absolute;
}
.advertisement .side-img.second-shade-layout::before{
    width: 135.27px;
    height: 129.26px;
    left: -78px;
    top: -86px;
    opacity: 0.65;
    filter: blur(21px);
    transform: rotate(95.48deg);
    z-index: -1;
}
.advertisement .first-shade-ad::before{
    width: 135.27px;
    height: 129.26px;
    left: 23px;
    top: -32px;
    opacity: 0.65;
    filter: blur(30px);
    transform: rotate(179.48deg);
    border-radius: 50%;
}
.advertisement .second-shade-ad::before{
    width: 135.27px;
    height: 88.26px;
    left: 44px;
    top: 29px;
    opacity: 0.55;
    filter: blur(30px);
    transform: rotate(179.48deg);
    border-radius: 50%;
}
.advertisement .third-shade-ad::before{
    width: 135.27px;
    height: 129.26px;
    left: -8px;
    bottom: -99px;
    opacity: 0.45;
    filter: blur(20px);
    transform: rotate(260.48deg);
    border-radius: 50%;
}

.advertisement .side-img.third-shade-layout::before{
    width: 135.27px;
    height: 129.26px;
    left: 3px;
    bottom: -110px;
    opacity: 0.65;
    filter: blur(21px);
    transform: rotate(278.48deg);
    z-index: -1;
}


.advertisement .advertisement-title{
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 38px;
}
.advertisement .advertisement-title img,
.advertisement .advertisement-title h2{
    z-index: 1;
}
.advertisement .cb-borderradius-topleft5{
    border-top-left-radius: 5px;
}
.advertisement .cb-borderradius-bottomleft5{
    border-bottom-left-radius: 5px;
}
.advertisement .cb-mt-minus1{
    margin-top: -1px;
}



/* Provider */

.provider-container{
    position: fixed;
    width: 100%;
    padding: 0 230px;
    bottom: 0;
    z-index: 999;
    left: 0;
}
.provider-container::before{
    position: absolute;
    content: "";
    transform: matrix(1, 0, 0, -1, 0, 0);
    width: 100%;
    height: 100%;
    bottom: 0px;
}
.provider-container .swiper-wrapper{
    padding: 15px 0px 15px 20px;
}

.provider-container .provider-circle{
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.provider-container .swiper-button-prev:after,
.provider-container .swiper-button-next:after{
    font-size: 18px;
}
.provider-container .swiper-button-prev{
    top: 54px;
    left: 170px;
    border-radius: 10px;
    width: 32px;
    height: 56px;
}
.provider-container .swiper-button-next{
    top: 54px;
    right: 170px;
    border-radius: 10px;
    width: 32px;
    height: 56px;
}
.provider-container .provider-circle img{
    width: 66px;
}




@media (max-width: 1200px){
    .provider-container{
        padding: 0 180px;
    }
    .provider-container .swiper-slide{
        margin-right: 35px;
    }
}
@media (max-width: 900px){
    .provider-container{
        padding: 0 100px;
    }
    .provider-container .swiper-slide{
        margin-left: 16px;
        margin-right: 0;
    }
    .provider-container .swiper-button-prev{
        left: 54px;
    }
    .provider-container .swiper-button-next{
        right: 80px;
    }
}

@media (max-width: 700px){
    .provider-container{
        padding: 10px 0 8px;
        
    }
    .provider-container::before{
        display: none;
    }
    .provider-container .three-row-col .cb-col{
        width: 75px;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
    .provider-container .three-row-col .cb-col img{
        width: 55px;
    }
    .provider-container #cb-col-1 .cb-col{
        width: 90px;
        height: 90px;
        margin: 0 6px;
        position: relative;
        z-index: 2;
    }
    .provider-container #cb-col-1 img{
        width: 70px;
    }
    .provider-container #cb-col-2 .cb-col{
        margin: 0 8px;
        margin-top: -20px;
        position: relative;
        z-index: 1;
    }
}
/* HomeBeforeLogin */
.home-before-login .cb-left-side{
    width: 50vw;
    height: 70%;
    top: 70px;
    left: 53px;
}
.home-before-login .cb-left-side-blureffect{
    position: absolute;
    transform: matrix(1, 0, 0, -1, 0, 0);
    width: 100%;
    height: 100%;
    bottom: -102px;
}
.home-before-login .cb-right-side{
    margin-bottom: 150px;
}
.home-before-login #cb-virtual-games{
    margin-bottom: 100px;
}
.home-before-login .card-slider-cb{
    overflow: hidden;

    background: rgba(196, 196, 196, 0.122);
    backdrop-filter: blur(80.96px);
    /* Note: backdrop-filter has minimal browser support */
    width: 444px;
    height: 324px;
    border-radius: 24px;
    position: relative;
}
.home-before-login .card-slider-cb::before{
    position: absolute;
    content: "";
    width: 226.66px;
    height: 215.7px;    
    background: url(../../../assets/images/blur-card.png);
    border-radius: 50%;
    opacity: 0.8;
    filter: blur(34px);
    transform: rotate(-72deg);
    bottom: 37px;
    left: 7px;
    background-size: cover;
    background-position: 96%;
}
.home-before-login .card-slider-cb::after{
    position: absolute;
    content: "";
    width: 226.66px;
    height: 215.7px;    
    background: url(../../../assets/images/blur-card.png);
    border-radius: 50%;
    opacity: 0.5;
    filter: blur(34px);
    transform: rotate(-72deg);
    bottom: 37px;
    right: -54px;
    background-size: cover;
    background-position: 96%;
}
.home-before-login .cb-swiper-container{
    width: 444px;
    text-align: center;
}

.home-before-login .swiper {
    width: 100%;
    height: 100%;
}
.home-before-login .swiper-pagination{
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    transform: translate(-50%);
}
.home-before-login .swiper-pagination-bullet-active{
    background: #D3959F !important;
}
.home-before-login .swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.home-before-login .swiper-slide img {
    display: block;
    width: 100%;
    padding: 18px;
    height: 282px;
    border-radius: 29px;
    object-fit: cover;
}
.home-before-login .icon-scroll-down{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.home-before-login .icon-scroll-down img{
    width: 12px;
}

.home-before-login .scroll-down p{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #9E9E9E;
    margin: 0;
    margin-left: 10px;
}
.home-before-login .cb-game-title{
    font-size: 20px;
}
.home-before-login .cb-games-layer{
    padding: 8px 30px 4px 14px;
    position: relative;
}
.home-before-login .cb-games-layer::before{
    content: "";
    position: absolute;
    opacity: 0.4;
    width: 135px;
    height: 153px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    top: 23px;
    left: 5px;
}
.home-before-login .cb-col-games::before{
    background: url(../../../assets/images/blur-card.png);
    content: "";
    position: absolute;
    top: -80px;
    right: -42px;
    opacity: 0.4;
    filter: blur(29px);
    transform: rotate(141.04deg);
    width: 155.27px;
    height: 150.26px;
}
.home-before-login .cb-col-games::after{
    background: url(../../../assets/images/blur-card.png);
    content: "";
    position: absolute;
    bottom: -109px;
    left: -74px;
    opacity: 0.5;
    filter: blur(27px);
    transform: rotate(16.04deg);
    width: 155.27px;
    height: 150.26px;
    z-index: -1;
}
.home-before-login .cb-col-games{
    box-sizing: border-box;
    width: 138px;
    height: 160px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    padding: 6px;
    position: relative;
    overflow: hidden;
}
.home-before-login .cb-col-games::before{
    content: "";
    position: absolute;
    top: -96px;
    right: -81px;
    background: url(../../../assets/images/blur-card.png);
    opacity: 0.7;
    filter: blur(70px);
    transform: rotate(-21.96deg);
    width: 135.27px;
    height: 129.26px;
}
.home-before-login .cb-col-games .cb-img-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.home-before-login .cb-col-games img{
    position: relative;
    left: -65px;
    width: 238px;
    height: 99px;
    object-fit: contain;
}
.home-before-login .cb-col-games p{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 0.065em;
    text-transform: uppercase;
    margin: 0;
    margin-top: -34px;
    margin-bottom: 3px;
}
.home-before-login .cb-col-games h3{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 12px;
}




/* Login and Registration */
.cb-form{
    width: 400px;
    box-sizing: border-box;
    position: relative;
    border-radius: 34px;
    padding: 30px 36px 23px;
    overflow: hidden;
    /* top: 32%;
    right: 4%;
    transform: translate(-50%, -50%); */
    
}

.cb-form-container .cb-close{
    color: #7B7B7B;
    position: absolute;
    top: 12px;
    font-family: 'Josefin Sans', sans-serif;
    right: 14px;
    z-index: 999;
}
.cb-form-container .cb-login-blureffect-1{
    position: absolute;
    width: 204.91px;
    height: 227.1px;
    right: -86px;
    top: -176px;

    background: url(../../../assets/images/blur-card.png);
    opacity: 0.5;
    filter: blur(72px);
    transform: matrix(-0.72, -0.57, 0.84, -0.73, 0, 0);
}
.cb-form-container .cb-login-blureffect-2{
    z-index: -1;
    position: absolute;
    width: 204.91px;
    height: 227.1px;
    left: -115px;
    bottom: -106px;

    background: url(../../../assets/images/blur-card.png);
    opacity: 0.5;
    filter: blur(72px);
    transform: matrix(-0.72, -0.57, 0.84, -0.73, 0, 0);
}

.cb-form-container label{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.005em;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.cb-form-container .form-control{
    margin-bottom: 16px;
    border-radius: 6px;
    
    border: none;
    outline: none;
    padding: 5px 15px;
}
.cb-form-container ::placeholder{
   font-family: 'Josefin Sans', sans-serif;
   font-size: 13px;
}
.cb-form-container .switch-content p{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.005em;
    text-transform: capitalize;
    margin-top: -2px;
    margin-left: 5px;
}
.cb-form-container a.forget-password{
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 17px;

    display: flex;
    align-items: flex-end;
    letter-spacing: 0.005em;
    text-transform: capitalize;
    margin-top: -2px;
}
.cb-form-container .form-control:focus{
    box-shadow: none;
}
.cb-form-container .cb-button-dark{
    width: 100%; 
    border-radius: 10px;
    outline: none;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px 0;
    font-size: 14px;
}
.cb-form-container .dont-have-account{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;

    letter-spacing: 0.005em;
    text-transform: capitalize;
    margin: 14px 0 8px;
    text-align: center;
}
.cb-form-container .dont-have-account span{
    font-weight: 600;
    cursor: pointer;
}
.cb-form-container .cb-social-login{
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    margin: 2px 4px;
    position: relative;
}
.cb-form-container .cb-social-login img{
    width: 16px;
    height: 16px;
}
.cb-form-container .switch {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 12px;
} 
.cb-form-container .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
} 
.cb-form-container .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
}
.cb-form-container .slider:before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    left: 2px;
    bottom: 1px;
    -webkit-transition: .4s;
    transition: .4s;
} 
.cb-form-container input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}
.cb-form-container .slider.round {
    border-radius: 34px;
} 
.cb-form-container .slider.round:before {
    border-radius: 50%;
}


/* Switch Login Signup Animation */
.cb-form-animation{
    position: relative;
    width: 400px;
    height: 400px;
}
.cb-login{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.cb-signup{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    margin-top: -18px;
}
.to-signup.cb-signup{
    opacity: 1;
    visibility: visible;
    -webkit-animation: scale-up-bl 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-bl 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.to-login.cb-login{
    opacity: 1;
    visibility: visible;
    -webkit-animation: scale-up-bl 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-bl 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-bl {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
}
@keyframes scale-up-bl {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
}
  

/* Animation Fade out all */
#advertisement{
    transition: all 1s;
}
.mystyle #advertisement{
    transition-delay: 0.3s;
    transform: translate(100%, -56%);
    opacity: 0;
    visibility: hidden;
}
.cb-left-side{
    transition: all 1s;
}
.mystyle .cb-left-side{
    transition-delay: 0.3s;
    transform: translateX(-30%);
    opacity: 0;
    visibility: hidden;
}
.provider-container{
    transition: all 1s;
}
.mystyle .provider-container{
    transition-delay: 0.3s;
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
}
.home-after-login{
    position: fixed;
    top: 100%;
    right: 0;
    width: 80px;
    height: 80px;
    background: #252629;
    border-radius: 40px;
}
.cb-form-container{
    transition: all 0.7s;
}
.mystyle .cb-form-container{
    opacity: 0;
    visibility: hidden;
}
.mystyle #cb-slider-box,
.mystyle #live-games-content,
.mystyle #cb-virtual-games{
    visibility: hidden;
    opacity: 0;
    display: none;
}

/* .home-after-login{
    position: fixed;
    top: 0;
    width: 400px;
    height: 370px;
    background: red;
    border-radius: 40px;
    z-index: -1;
}
.mystyle .home-after-login{
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
} */








.cb-homeafter-login{
    height: 100vh;
    padding: 90px 15px 0;
    font-family: 'Josefin Sans',sans-serif;
}
.cb-homeafter-login .nav.nav-tabs.cb-side-tab{
    float: left;
    height: 468px;
    display: flex;
    border: none;
    margin: auto 0;
    position: relative;
    z-index: 99;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 82px;
    justify-content: center;
    align-items: center;
}
.cb-homeafter-login .nav-tabs .nav-link{
    border: none !important;
    outline: none !important;
    border-radius: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    transition: none !important;
}
.cb-homeafter-login .nav-tabs .nav-link.active{
    box-shadow: none !important;
    border-bottom:0;
    position:relative;
    border-radius:10px 0px 0px 10px;
}
.cb-homeafter-login .nav-tabs .nav-link.active:before{
    content: '';
    width: 40px;
    height: 30px;
    position: absolute;
    top: -31px;
    border-top: 0;
    transform: rotate(-90deg);
}
.cb-homeafter-login .nav-tabs .nav-link.active:after{
    content: '';
    width: 40px;
    height: 30px;
    position: absolute;
    z-index: -1;
    bottom: -26px;
    border-bottom: 0;
}
.cb-homeafter-login .nav-tabs .nav-link.active:after{
    border-left:0;
    border-radius:0 10px 0 0;
    right:-4px;
}
.cb-homeafter-login .nav-tabs .nav-link.active:before{
    border-right: 0;
    border-radius: 0 0 0 10px;
    right: -9px;
}
.cb-homeafter-login .tab-content{
    border-radius: 10px;
    z-index: 99;
    overflow: hidden;
    position: relative;
}
.cb-homeafter-login .cb-left-login-blureffect{
    position: absolute;
    transform: matrix(1, 0, 0, -1, 0, 0);
    width: 100%;
    height: 100%;
    bottom: -102px;
}
.cb-homeafter-login .side-provider-content{
    width: 58px;
    height: 58px;
    border-radius: 50%;
}
.cb-homeafter-login .side-provider-content img{
    width: 40px;
}
.cb-homeafter-login .top-left-blur-effect{
    position: absolute;
    top: -57%;
    left: -320px;
    width: 667.79px;
    height: 638.11px;
    z-index: 1;
}
.cb-homeafter-login .bottom-left-blur-effect{
    position: absolute;
    bottom: -57%;
    left: -320px;
    width: 667.79px;
    height: 638.11px;
    z-index: 1;
}

/* .cb-homeafter-login.mobile-only{
    display: none !important;
}
.cb-homeafter-login .game-right-side.mobile-only{
    display: none !important;
} */


.cb-homeafter-login{
    position: fixed;
    top: 100% !important;
    right: 0 !important;
    width: 80px !important;
    height: 80px !important;
    border-radius: 40px;
}
.mystyle .cb-homeafter-login{
    transition: all 1.4s ease 1s;
    width: 100% !important;
    height: 100vh !important;
    top: 0 !important;
    right: 0 !important;
    padding: 90px 15px 0;
    overflow: hidden;
}


.cb-search-box{
    width: 342px;
    height: 46px;
    outline: none;
    padding: 0 20px 0 38px;
    box-sizing: border-box;
    border-radius: 12px;
    margin-right: 15px;
}
.cb-search-box::placeholder{
    font-family: 'Josefin Sans',sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
}
.cb-filter-box{
    width: 46px;
    height: 46px;
    box-sizing: border-box;
    border-radius: 12px;
    cursor: pointer;
}
.search-icon{
    width: 20px;
    top: 50%;
    left: 6%;
    transform: translate(-50%, -50%);
}
.cb-search-filter-box{
    margin: -15px 20px 0 0;
}
@media (max-width: 500px){
    .cb-search-filter-box,
    .bottom-arrow{
        display: none !important;
    }
    .home-before-login .cb-left-side-blureffect{
        position: absolute;
        transform: matrix(1, 0, 0, -1, 0, 0);
        width: 46vw;
        height: 41%;
        bottom: -10px;
    }
    .scroll-down{
        transform: scale(1.3);
    }
}

.filter-container{
    transition: transform 0.3s ease;
    padding: 20px 130px 10px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    transform: translateY(-28px);
}
.show-filter-box.filter-container{
    transform: translateY(57px);
}

.filter-container .cb-dropdown-dark{
    border-radius: 12px;
    font-family: 'Josefin Sans', sans-serif;
    color: #8D8484 !important;
    font-size: 12px;
    text-align: left;
    width: 230px;
    transition: none !important;
    height: 46px;
}
.filter-container p{
    margin: 0;
    text-transform: capitalize;
    color: #8D8484 !important;
    font-size: 12px;
    margin-bottom: 5px;
}
.img-text h4{
    font-size: 12px;
    margin: 0;
}
.img-text img{
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

.cb-provider-search{
    border-radius: 12px;
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 40px;
    border: none;
    outline: none;
    width: 230px;
    height: 46px;
}
.cb-searchbox img{
    position: absolute;
    left: 9px;
    width: 22px;
    top: 50%;
    transform: translate(0px, -50%);
}
#new-game-container{
    margin-top: 10px !important;
    border-radius: 12px;
    width: 100%;
    padding: 20px 20px 0 !important;
    border: none;
}
#new-game-container h4{
    margin: 0;
    font-size: 18px !important;
    color: #8D8484 !important;
}
#new-game-container li img{
    margin-right: 10px;
}
#new-game-container li{
    margin-bottom: 18px;
}

.search-mobile-box{
    width: 42px;
    height: 42px;
    margin: 0 0.5em;
    margin-top: -10px;
    border-radius: 50%;
    position: relative;
}
.search-mobile-box img{
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 22px;
}
.search-box-container {
    transition: transform 0.3s ease;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    transform: translateY(-24px);
    padding: 10px 0;

}
.search-box-container.show{
    transform: translateY(53px);
}
/* .cb-iframe-container{
    padding-left: 230px;
    padding-top: 50px;
}
.cb-iframe-container iframe{
    display: none;
}
.cb-iframe-container iframe.show{

    height: calc(100vh - 108px);
    width: 100%;
    display: block;
}
.cb-btns{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
.cb-btn-content h2{
    color: #fff;
    background-color: #2E2D30;
    box-shadow: 0px 4px 30px rgba(11, 10, 10, .05);
    border-radius: 5px;
    padding: 10px 30px;
    margin: 10px;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
} */
