/* .cb-login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-family: 'Open Sans',sans-serif;
    padding: 0 140px;
    margin-top: -30px;
}
.cb-login-container .cb-left-side{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    justify-content: center;
    transition: all 0.3s ease;
}
.cb-login-container .cb-left-side img{
    width: 233px;
    height: 460px;
}

.cb-login-container .cb-right-side{
    width: 100%;
    height: 100%;
    display: flex;
}
.cb-left-login-blureffect{
    position: absolute;
    transform: matrix(1, 0, 0, -1, 0, 0);
    width: 100%;
    height: 100%;
    bottom: -80px;
}

.cb-form-container{
    width: 400px;
    height: 400px;
    box-sizing: border-box;
    position: relative;
    border-radius: 34px;
    padding: 30px 36px 23px;
    overflow: hidden;
}
a{
    text-decoration: none;
}
.cb-close{
    color: #7B7B7B;
    position: absolute;
    top: 12px;
    font-family: 'Open Sans', sans-serif;
    right: 14px;
    z-index: 999;
}
.cb-login-blureffect-1{
    position: absolute;
    width: 204.91px;
    height: 227.1px;
    right: -86px;
    top: -176px;

    background: url(../../../assets/images/blur-card.png);
    opacity: 0.5;
    filter: blur(72px);
    transform: matrix(-0.72, -0.57, 0.84, -0.73, 0, 0);
}
.cb-login-blureffect-2{
    z-index: -1;
    position: absolute;
    width: 204.91px;
    height: 227.1px;
    left: -115px;
    bottom: -106px;

    background: url(../../../assets/images/blur-card.png);
    opacity: 0.5;
    filter: blur(72px);
    transform: matrix(-0.72, -0.57, 0.84, -0.73, 0, 0);
}

label{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.005em;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.form-control{
    margin-bottom: 16px;
    border-radius: 6px;
    
    border: none;
    outline: none;
    padding: 5px 15px;
}
::placeholder{
   font-size: 13px;
}
.switch-content p{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.005em;
    text-transform: capitalize;
    margin-top: -2px;
    margin-left: 5px;
}
a.forget-password{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 17px;

    display: flex;
    align-items: flex-end;
    letter-spacing: 0.005em;
    text-transform: capitalize;
    margin-top: -2px;
}
.form-control:focus{
    box-shadow: none;
}

.cb-button-dark{
    width: 100%; 
    border-radius: 10px;
    outline: none;
    border: none;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 0;
    font-size: 14px;
}
.dont-have-account{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;

    letter-spacing: 0.005em;
    text-transform: capitalize;
    margin: 14px 0 8px;
    text-align: center;
}
.dont-have-account a{
    font-weight: 600;
    cursor: pointer;
}
.cb-social-login{
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    margin: 2px 4px;
    position: relative;
}
.cb-social-login img{
    width: 16px;
    height: 16px;
}



.switch {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 12px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    left: 2px;
    bottom: 1px;
    -webkit-transition: .4s;
    transition: .4s;
}
  
  
input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

@media (max-width: 600px){
    .cb-form-container{
        height: 446px;
    }
}

.login-content{
    opacity: 1;
    visibility: visible;
}
.mystyle .login-content{
    opacity: 0;
    transition: all 0.3s ease;
    visibility: hidden;
}
.mystyle .cb-left-side{
    opacity: 0;
    transition-delay: 0.3s;
}
.mystyle .cb-left-side{
    opacity: 0;
    transition-delay: 0.3s;
}
.cb-provider-style{
    opacity: 1;
    transition: all 0.3s ease;
}
.mystyle .cb-provider-style{
    opacity: 0;
    transition-delay: 0.3s;
}
.cb-form-container{
    width: 400px;
    height: 400px;
    box-sizing: border-box;
    position: fixed;
    border-radius: 34px;
    padding: 30px 36px 23px;
    overflow: hidden;
    top: 44%;
    right: 4%;
    transform: translate(-50%, -50%);
}

.mystyle .cb-form-container{
    width: 100%;
    height: 100vh;
    top: 15%;
    right: 0px;
    transform: translate(0, 0);
    transition: all 2s ease 0s;
    border-radius: 0;
    z-index: 9999;
}
@media (max-width: 700px){
    .cb-left-side{
        display: none !important;
    }
    .cb-form-container{
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
    .cb-login-container{
        height: 100%;
        margin-top: 140px !important;
    }
}



.cb-login-container{
    height: 100vh;
    padding: 90px 15px 0;
    font-family: 'Open Sans',sans-serif;
}
.nav.nav-tabs.cb-side-tab{
    float: left;
    height: 468px;
    display: block;
    border: none;
    margin: auto 0;
    position: relative;
    z-index: 999;
}
.nav-tabs .nav-link{
    border: none !important;
    outline: none !important;
    border-radius: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    transition: none !important;
}
.nav-tabs .nav-link.active{
    box-shadow: none !important;
    border-bottom:0;
    position:relative;
    border-radius:10px 0px 0px 10px;
}
.nav-tabs .nav-link.active:before{
    content: '';
    width: 40px;
    height: 30px;
    position: absolute;
    top: -31px;
    border-top: 0;
    transform: rotate(-90deg);
}
.nav-tabs .nav-link.active:after{
    content: '';
    width: 40px;
    height: 30px;
    position: absolute;
    z-index: -1;
    bottom: -26px;
    border-bottom: 0;
}
.nav-tabs .nav-link.active:after{
    border-left:0;
    border-radius:0 10px 0 0;
    right:-4px;
}
.nav-tabs .nav-link.active:before{
    border-right: 0;
    border-radius: 0 0 0 10px;
    right: -9px;
}
.tab-content{
    border-radius: 10px;
    z-index: 999;
    overflow: hidden;
    position: relative;
}
.cb-left-login-blureffect{
    position: absolute;
    transform: matrix(1, 0, 0, -1, 0, 0);
    width: 100%;
    height: 100%;
    bottom: -102px;
}
.cb-login-blureffect-1{
    position: absolute;
    width: 204.91px;
    height: 227.1px;
    right: -86px;
    top: -176px;
    background: url(../../../assets/images/blur-card.png);
    opacity: 0.5;
    filter: blur(72px);
    transform: matrix(-0.72, -0.57, 0.84, -0.73, 0, 0);
}
.cb-login-blureffect-2{
    z-index: -1;
    position: absolute;
    width: 204.91px;
    height: 227.1px;
    left: -106px;
    bottom: -106px;
    background: url(../../../assets/images/blur-card.png);
    opacity: 0.4;
    background-repeat: no-repeat;
    filter: blur(55px);
    transform: rotate(129deg);
    background-position: center;
    background-size: cover;
}
.side-provider-content{
    width: 52px;
    height: 52px;
    border-radius: 50%;
}
.side-provider-content img{
    width: 40px;
}
.top-left-blur-effect{
    position: absolute;
    top: -57%;
    left: -320px;
    width: 667.79px;
    height: 638.11px;
    z-index: 1;
}
.bottom-left-blur-effect{
    position: absolute;
    bottom: -57%;
    left: -320px;
    width: 667.79px;
    height: 638.11px;
    z-index: 1;
}

.cb-login-container.mobile-only{
    display: none !important;
}
.game-right-side.mobile-only{
    display: none !important;
}
@media (max-width: 734px){
    .cb-login-container.desktop-only{
        display: none !important;
    }
    .cb-login-container.mobile-only{
        display: flex !important;
    }
    .nav.nav-tabs.cb-side-tab{
        height: auto;
        margin: 0;
    }
    .cb-login-container{
        flex-direction: column;
        padding: 0 !important;
        position: fixed;
        height: 100vh;
    }
    .tab-content{
        border-radius: 0 !important;
    }
    .game-right-side.mobile-only{
        display: flex !important;
    }
}

.nav.nav-tabs.cb-side-tab{
    opacity: 0;
    visibility: hidden;
}
.tab-pane{
    visibility: hidden;
    opacity: 0;
} */

.cb-main-container{
    /* width: 1200px; */
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}
.cb-dashboard{
    height: 100vh;
    padding: 90px 15px 0;
    font-family: 'Open Sans',sans-serif;
}
.nav.nav-tabs.cb-side-tab{
    float: left;
    height: 468px;
    display: block;
    border: none;
    margin: auto 0;
    position: relative;
    z-index: 999;
}
.nav-tabs .nav-link{
    border: none !important;
    outline: none !important;
    border-radius: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    transition: none !important;
}
.nav-tabs .nav-link.active{
    box-shadow: none !important;
    border-bottom:0;
    position:relative;
    border-radius:10px 0px 0px 10px;
}
.nav-tabs .nav-link.active:before{
    content: '';
    width: 40px;
    height: 30px;
    position: absolute;
    top: -31px;
    border-top: 0;
    transform: rotate(-90deg);
}
.nav-tabs .nav-link.active:after{
    content: '';
    width: 40px;
    height: 30px;
    position: absolute;
    z-index: -1;
    bottom: -26px;
    border-bottom: 0;
}
.nav-tabs .nav-link.active:after{
    border-left:0;
    border-radius:0 10px 0 0;
    right:-4px;
}
.nav-tabs .nav-link.active:before{
    border-right: 0;
    border-radius: 0 0 0 10px;
    right: -9px;
}
.tab-content{
    border-radius: 10px;
    z-index: 99;
    overflow: hidden;
    position: relative;
}
.side-provider-content{
    width: 52px;
    height: 52px;
    border-radius: 50%;
}
.side-provider-content img{
    width: 40px;
}

.cb-login-container{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 100%; */
    transition: all 0.3s ease;
    /* height: 100vh; */
    font-family: 'Open Sans',sans-serif;
    /* padding: 0 140px; */
    /* margin-top: -30px; */
    /* position: fixed; */
    /* top: 0; */
    /* left: 0;*/
}
.cb-left-side{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative !important;
    overflow: hidden;
    justify-content: center;
    transition: all 0.3s ease;
}
.cb-login-container .cb-left-side img{
    width: 233px;
    height: 460px;
}

.cb-login-container .cb-right-side{
    width: 100%;
    height: 100%;
    display: flex;
}
.cb-left-login-blureffect{
    position: absolute;
    transform: matrix(1, 0, 0, -1, 0, 0);
    width: 100%;
    height: 100%;
    bottom: -80px;
}

.cb-form-container{
    width: 400px;
    height: 400px;
    box-sizing: border-box;
    position: absolute;
    border-radius: 34px;
    padding: 30px 36px 23px;
    overflow: hidden;
    top: 32%;
    right: 4%;
    transform: translate(-50%, -50%);
}

a{
    text-decoration: none;
}
.cb-close{
    color: #7B7B7B;
    position: absolute;
    top: 12px;
    font-family: 'Open Sans', sans-serif;
    right: 14px;
    z-index: 999;
}
.cb-login-blureffect-1{
    position: absolute;
    width: 204.91px;
    height: 227.1px;
    right: -86px;
    top: -176px;

    background: url(../../../assets/images/blur-card.png);
    opacity: 0.5;
    filter: blur(72px);
    transform: matrix(-0.72, -0.57, 0.84, -0.73, 0, 0);
}
.cb-login-blureffect-2{
    z-index: -1;
    position: absolute;
    width: 204.91px;
    height: 227.1px;
    left: -115px;
    bottom: -106px;

    background: url(../../../assets/images/blur-card.png);
    opacity: 0.5;
    filter: blur(72px);
    transform: matrix(-0.72, -0.57, 0.84, -0.73, 0, 0);
}

label{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.005em;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.form-control{
    margin-bottom: 16px;
    border-radius: 6px;
    
    border: none;
    outline: none;
    padding: 5px 15px;
}
::placeholder{
   font-size: 13px;
}
.switch-content p{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.005em;
    text-transform: capitalize;
    margin-top: -2px;
    margin-left: 5px;
}
a.forget-password{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 17px;

    display: flex;
    align-items: flex-end;
    letter-spacing: 0.005em;
    text-transform: capitalize;
    margin-top: -2px;
}
.form-control:focus{
    box-shadow: none;
}

.cb-button-dark{
    width: 100%; 
    border-radius: 10px;
    outline: none;
    border: none;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 0;
    font-size: 14px;
}
.dont-have-account{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;

    letter-spacing: 0.005em;
    text-transform: capitalize;
    margin: 14px 0 8px;
    text-align: center;
}
.dont-have-account a{
    font-weight: 600;
    cursor: pointer;
}
.cb-social-login{
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    margin: 2px 4px;
    position: relative;
}
.cb-social-login img{
    width: 16px;
    height: 16px;
}



.switch {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 12px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    left: 2px;
    bottom: 1px;
    -webkit-transition: .4s;
    transition: .4s;
}
  
  
input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}


.tab-content{
    width: 100%;
    height: 100vh;
    background: transparent;
}

.mystyle .cb-form-container{
    width: 100%;
    height: 100vh;
    top: 0px;
    right: 0px;
    transform: translate(0, 0);
    transition: all 2s ease 0.8s;
    border-radius: 0;
    z-index: 9999;
}
.mystyle .login-content{
    transition: all 1s ease 0.8s;
    opacity: 0;
    visibility: hidden;
}
.cb-left-side{
    visibility: visible;
    opacity: 1;
}
.mystyle .cb-left-side{
    transition: all 1s ease 0.3s;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-130px);
}
.mystyle .cb-provider-style{
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease 0.3s;
    transform: translateY(120px);
}

.cb-side-tab,
.tab-content .tab-pane{
    opacity: 0;
    visibility: hidden;
}

.mystyle .nav.nav-tabs.cb-side-tab,
.mystyle .tab-content .tab-pane{
    opacity: 1;
    transition: all 1s ease 3s;
    visibility: visible;
}
.mystyle .tab-content .tab-pane{
    position: absolute;
    top: 0;
    left: 0;
}
.mystyle .tab-content{
    width: 100%;
    height: 100vh;
}
.mystyle .cb-login-container{
    opacity: 0;
    transition: all 1s ease 3s;
    visibility: hidden;
    /* width: 0;
    height: 0; */
}

.cb-left-side{
    margin-left: -30px;
}

@media (max-width: 1200px){
    .cb-login-container{
        padding: 0 1px;
    }
    .cb-form-container{
        right: -7%;
    }
}
@media (max-width: 950px){
    .cb-login-container{
        padding: 0px;
    }
    .cb-form-container{
        right: -10%;
    }
}
@media (max-width: 600px){
    .cb-form-container{
        height: 446px;
    }
}