<div class="cb-main-container">
    <div class="cb-dashboard d-flex justify-content-between align-items-start w-100 desktop-only">
        <div class="nav nav-tabs cb-side-tab" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-tab1-tab" data-bs-toggle="tab" data-bs-target="#nav-tab1" type="button" role="tab" aria-controls="nav-tab1" aria-selected="true">
              <div class="side-provider-content d-flex justify-content-center align-items-center">
                <img src="../../../assets/images/Hollywood-tv.png" alt="">
              </div>
            </button>
            <button class="nav-link" id="nav-tab2-tab" data-bs-toggle="tab" data-bs-target="#nav-tab2" type="button" role="tab" aria-controls="nav-tab2" aria-selected="false">
              <div class="side-provider-content d-flex justify-content-center align-items-center">
                <img src="../../../assets/images/Binary.png" alt="">
              </div>
            </button>
            <button class="nav-link" id="nav-tab3-tab" data-bs-toggle="tab" data-bs-target="#nav-tab3" type="button" role="tab" aria-controls="nav-tab3" aria-selected="false">
              <div class="side-provider-content d-flex justify-content-center align-items-center">
                <img src="../../../assets/images/Ezugi.png" alt="">
              </div>
            </button>
            <button class="nav-link" id="nav-tab4-tab" data-bs-toggle="tab" data-bs-target="#nav-tab4" type="button" role="tab" aria-controls="nav-tab4" aria-selected="true">
              <div class="side-provider-content d-flex justify-content-center align-items-center">
                <img src="../../../assets/images/Hollywood-tv.png" alt="">
              </div>
            </button>
            <button class="nav-link" id="nav-tab5-tab" data-bs-toggle="tab" data-bs-target="#nav-tab5" type="button" role="tab" aria-controls="nav-tab5" aria-selected="false">
              <div class="side-provider-content d-flex justify-content-center align-items-center">
                <img src="../../../assets/images/Binary.png" alt="">
              </div>
            </button>
            <button class="nav-link" id="nav-tab6-tab" data-bs-toggle="tab" data-bs-target="#nav-tab6" type="button" role="tab" aria-controls="nav-tab6" aria-selected="false">
              <div class="side-provider-content d-flex justify-content-center align-items-center">
                <img src="../../../assets/images/Ezugi.png" alt="">
              </div>
            </button>
        </div>
        <div class="tab-content" id="nav-tabContent">      
            <div class="cb-login-container">
                <div class="cb-left-side d-flex position-relative justify-content-center align-items-center w-100 h-100 overflow-hidden">
                    <div class="cb-left-login-blureffect"></div>
                    <img src="../../../assets/images/model.png" alt="">
                </div>
                <div class="cb-right-side align-items-center">
                    <div class="cb-form-container" id="cb-form-container">
                        <div class="login-content">
                            <div class="cb-login-blureffect-1"></div>
                            <div class="cb-login-blureffect-2"></div>
                            <a class="cb-close" href="#"><img width="15" src="../../../assets/images/cross.svg" alt=""></a>
                            <form>
                                <div class="form-group">
                                <label for="exampleInputEmail1">Email Or Username</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Email">
                                </div>
                                <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Your Password">
                                </div>
                                <div class="form-group form-check d-flex justify-content-between" style="padding: 0;">
                                    <div class="d-flex switch-content">
                                        <label class="switch">
                                            <input type="checkbox">
                                            <span class="slider round"></span>
                                        </label>
                                        <p>Save Me</p>
                                    </div>
                                    <div>
                                        <a class="forget-password" href="#">Forget Password?</a>
                                    </div>
                                </div>
                                <p class="btn btn-primary cb-button-dark" (click)="clickEvent()">Log In</p>
                            </form>
                            <p class="dont-have-account">Don’t have an account? <a href="/registration">sign up</a></p>
                            <div class="d-flex justify-content-center">
                                <div class="cb-social-login"><img src="../../../assets/images/facebook.svg" alt=""></div>
                                <div class="cb-social-login"><img src="../../../assets/images/google.svg" alt=""></div>
                                <div class="cb-social-login"><img src="../../../assets/images/gmail.svg" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
            <div class="tab-pane fade show active" id="nav-tab1" role="tabpanel" aria-labelledby="nav-tab1-tab">
              <app-gameshowcase></app-gameshowcase>
            </div>
            <div class="tab-pane fade" id="nav-tab2" role="tabpanel" aria-labelledby="nav-tab2-tab">
              <app-gameshowcase></app-gameshowcase>
            </div>
            <div class="tab-pane fade" id="nav-tab3" role="tabpanel" aria-labelledby="nav-tab3-tab">
              <app-gameshowcase></app-gameshowcase>
            </div>
            <div class="tab-pane fade" id="nav-tab4" role="tabpanel" aria-labelledby="nav-tab4-tab">
              <app-gameshowcase></app-gameshowcase>
            </div>
            <div class="tab-pane fade" id="nav-tab5" role="tabpanel" aria-labelledby="nav-tab5-tab">
              <app-gameshowcase></app-gameshowcase>
            </div>
            <div class="tab-pane fade" id="nav-tab6" role="tabpanel" aria-labelledby="nav-tab6-tab">
              <app-gameshowcase></app-gameshowcase>
            </div>
        </div>
    </div>
    <div class="cb-provider-style">
        <app-providers></app-providers>
    </div>
</div>