.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus{
    border: none;
    outline: none;
    box-shadow: none;
}
.cb-login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-family: 'Open Sans',sans-serif;
    padding: 0 140px;
    margin-top: -30px;
}
.cb-left-side{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    justify-content: center;
}
.cb-right-side{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: -80px;
}
.cb-left-login-blureffect{
    position: absolute;
    transform: matrix(1, 0, 0, -1, 0, 0);
    width: 100%;
    height: 100%;
    bottom: -80px;
}
.cb-login-container .cb-left-side img{
    width: 233px;
    height: 460px;
}
.cb-form-container{
    width: 85%;
    box-sizing: border-box;
    /* Note: backdrop-filter has minimal browser support */
    position: relative;
    border-radius: 34px;
    padding: 30px 36px 23px;
    overflow: hidden;
}
a{
    text-decoration: none;
}
.cb-close{
    color: #7B7B7B;
    position: absolute;
    top: 12px;
    font-family: 'Open Sans', sans-serif;
    right: 14px;
    z-index: 999;
}
.cb-login-blureffect-1{
    position: absolute;
    width: 204.91px;
    height: 227.1px;
    right: -86px;
    top: -176px;

    background: url(../../../assets/images/blur-card.png);
    opacity: 0.5;
    filter: blur(72px);
    transform: matrix(-0.72, -0.57, 0.84, -0.73, 0, 0);
}
.cb-login-blureffect-2{
    z-index: -1;
    position: absolute;
    width: 204.91px;
    height: 227.1px;
    left: -115px;
    bottom: -106px;

    background: url(../../../assets/images/blur-card.png);
    opacity: 0.5;
    filter: blur(72px);
    transform: matrix(-0.72, -0.57, 0.84, -0.73, 0, 0);
}
/* .form-group{
    width: 100%;
} */
label{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.005em;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.form-control{
    margin-bottom: 16px;
    border-radius: 6px;
    
    border: none;
    outline: none;
    padding: 5px 15px;
}
::placeholder{
   font-size: 13px;
}
.switch-content p{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.005em;
    text-transform: capitalize;
    margin-top: -2px;
    margin-left: 5px;
}
a.forget-password{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: flex-end;
    letter-spacing: 0.005em;
    text-transform: capitalize;
    margin-top: -2px;
}
.form-control:focus{
    box-shadow: none;
}

.cb-button-dark{
    width: 100%; 
    border-radius: 10px;
    outline: none;
    border: none;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 0;
    font-size: 14px;
}
.dont-have-account{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;

    letter-spacing: 0.005em;
    text-transform: capitalize;
    margin: 14px 0 8px;
    text-align: center;
}
.dont-have-account a{
    font-weight: 600;
    cursor: pointer;
}
.cb-social-login{
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    margin: 2px 4px;
    position: relative;
}
.cb-social-login img{
    width: 16px;
    height: 16px;
}



.switch {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 12px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    left: 2px;
    bottom: 1px;
    -webkit-transition: .4s;
    transition: .4s;
}
  
  
input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

@media (max-width: 600px){
    .cb-form-container{
        height: 446px;
    }
    .cb-left-side{
        display: none !important;
    }
    .cb-form-container{
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
    .cb-login-container{
        height: 100%;
        margin-top: 140px !important;
    }
}