<div class="cb-login-container">
    <div class="cb-left-side d-flex position-relative justify-content-center align-items-center w-100 h-100 overflow-hidden">
        <div class="cb-left-login-blureffect"></div>
        <img src="../../../assets/images/model.png" alt="">
    </div>
    <div class="cb-right-side align-items-center">
        <div class="cb-form-container">
            <div class="cb-login-blureffect-1"></div>
            <div class="cb-login-blureffect-2"></div>
            <a class="cb-close" href="#"><img width="15" src="../../../assets/images/cross.svg" alt=""></a>
            <form>
                <div class="form-row d-flex">
                    <div class="form-group col-md-6" style="margin-right: 5px;">
                        <label for="exampleInputUsername1">Username</label>
                        <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Enter User Name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputWhatsapp1">Whatsapp number</label>
                        <input type="text" class="form-control" id="exampleInputWhatsapp1" placeholder="Enter Whatsapp Number">
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Email">
                </div>
                <div class="form-row d-flex">
                    <div class="form-group col-md-6" style="margin-right: 5px;">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Your Password">    
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputRenterPassword1">Re-Enter Password</label>
                        <input type="password" class="form-control" id="exampleInputRenterPassword1" placeholder="Enter Your Password">
                    </div>
                </div>
                <div class="form-group form-check d-flex justify-content-between" style="padding: 0;">
                    <div class="d-flex switch-content">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                        <p>Save Me</p>
                    </div>
                    <!-- <div>
                        <a class="forget-password" href="#">Forget Password?</a>
                    </div> -->
                </div>
                <button type="submit" class="btn btn-primary cb-button-dark">Sign Up</button>
            </form>
            <p class="dont-have-account">Already have an account? <a href="/login">Log in</a></p>
            <div class="d-flex justify-content-center">
                <div class="cb-social-login"><img src="../../../assets/images/facebook.svg" alt=""></div>
                <div class="cb-social-login"><img src="../../../assets/images/google.svg" alt=""></div>
                <div class="cb-social-login"><img src="../../../assets/images/gmail.svg" alt=""></div>
            </div>
        </div>
    </div>
</div>
<app-providers></app-providers>