@font-face {
    font-family: SharpSans;
    src: url(./assets/fonts/SharpSans-Medium.woff);
}
@font-face {
    font-family: Gilroy;
    src: url(./assets/fonts/Gilroy-Regular.otf);
}

:root {

    /* Standard Colors */
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;

    /* Background Colors */
    --bg-color: #ffffff;
    --bg-color-dark: #16161B;
    --bg-secondary-color-dark: #252629;
    --bg-secondary-color: #f7f7f7;

    --bg-signup-dark: #2E2D30;
    --bg-signup: #272729;

    /* General Colors */
    --color-white: #fff;
    --heading-color-dark: #232222;
    --box-shadow-dark-btn: 0px 4px 30px rgba(11, 10, 10, 0.05);
}
html,
*,
body{
    scroll-behavior: smooth !important;
}
*, :after, :before {
    box-sizing: inherit
}
a{
    color: #fff !important;
    text-decoration: none !important;
}
.btn{ 
    color: #fff !important;
}
.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus{
    border: none;
    outline: none;
    box-shadow: none;
}
.nav-tabs .nav-link{
    transition: none !important;
}
.swiper-pagination-bullet{
    background: #929292 !important;
}
.swiper-pagination-bullet-active{
    background: #D3959F !important;
}
.desktop-only{
    display: block;
}
.mobile-only{
    display: none;
}


/* Dark */
.theme-dark{
    background-color: var(--bg-color-dark) !important;
}
.theme-dark .header-fixed{
    background-color: var(--bg-color-dark) !important;
}
.theme-dark .header-cb .logo-cb a{
    color: var(--color-white) !important;
}
.theme-dark.cb-container{
    background-color: var(--bg-color-dark);
}
.theme-dark .header-cb .login-cb{
    color: var(--color-white);
}
.theme-dark .header-cb .rc-btn-cb{
    background-color: var(--bg-signup-dark);
    box-shadow: var(--box-shadow-dark-btn);
    color: var(--color-white);
}
.theme-dark .home-after-login-container .top-left-blur-effect,
.theme-dark .home-after-login-container .bottom-left-blur-effect,
.theme-dark .cb-col-games::before,
.theme-dark .cb-col-games::after,
.theme-dark .cb-blur-effect-4,
.theme-dark .cb-blur-effect-3,
.theme-dark .cb-login-blureffect-1,
.theme-dark .side-img.second-shade-layout::before,
.theme-dark .side-img.third-shade-layout::before,
.theme-dark .first-shade-ad::before,
.theme-dark .second-shade-ad::before,
.theme-dark .third-shade-ad::before,
.theme-dark .cb-shade-effect-4,
.theme-dark .cb-shade-effect-3{
    display: none;
}
.theme-dark .provider-container::before{
    background: linear-gradient(179.83deg, #16161B 22.75%, rgba(22, 22, 27, 0) 84.1%);
}
.theme-dark .game-showcase,
.theme-dark .cb-side-tab .tab-content,
.theme-dark .nav-tabs .nav-link.active{
    background: var(--bg-secondary-color-dark);
}
.theme-dark .right-side-bar-content{
    background: var(--bg-secondary-color-dark);
}
.theme-dark .nav-tabs .nav-link.active:before,
.theme-dark .nav-tabs .nav-link.active:after{
    border: 4px solid var(--bg-secondary-color-dark);
}
.theme-dark .side-provider-content{
    background: #272729;
    box-shadow: -1px -1px 2px #343437, 1.5px 1.5px 4px #131314;
}

.theme-dark .nav-link.active .side-provider-content{
    background: #222224;
    box-shadow: inset -1px -1px 1px #3C3C3E, inset 1.5px 1.5px 2px #101012;
    border: 2px solid #222224;
}
.theme-dark .cb-tab-ui.nav-pills .nav-link{
    color: #8D8484;
    background: #272729;
    box-shadow: -1px -1px 5px #343437, 1.5px 1.5px 5px #131314;
}
.theme-dark .cb-tab-ui.nav-pills .nav-link.active{
    background: #272729;
    box-shadow: -1px -1px 3px #3C3C3E, 1.5px 1.5px 2px #101012;
    color: #8D8484;
}
.theme-dark .cb-tab-ui.nav-pills .nav-link.active::before{
    background: #222224;
    box-shadow: inset -1px -1px 1px #3C3C3E, inset 1.5px 1.5px 3px #101012;
    left: 50% !important;
    top: 50% !important; 
}
.theme-dark .cb-search-box,
.theme-dark .search-mobile-box{
    border: 3px solid #2E2D30;
    background: #2E2D30;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
}
.theme-dark .cb-search-box::placeholder{
    color: #656569;
}
.theme-dark input{
    color: var(--color-white)
}
.theme-dark .cb-filter-box{
    border: 3px solid #2E2D30;
    background: #2E2D30;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
}
.theme-dark  .right-side-bar{
    background: linear-gradient(135deg, #232427 0%, #27282B 100%);
    box-shadow: -5px 5px 10px rgba(30, 31, 34, 0.2), 5px -5px 10px rgba(30, 31, 34, 0.2), -5px -5px 10px rgba(44, 45, 48, 0.9), 5px 5px 7px rgba(30, 31, 34, 0.9), inset 1px 1px 2px rgba(44, 45, 48, 0.3), inset -1px -1px 2px rgba(30, 31, 34, 0.5);
}
/* Handle */
.theme-dark .game-showcase .cb-row-games::-webkit-scrollbar-thumb {
    background: #3f3f3fc8; 
}

/* Handle on hover */
.theme-dark .game-showcase .cb-row-games::-webkit-scrollbar-thumb:hover {
    background: #3f3f3fc8; 
}
.theme-dark .cb-col-games{
    background: #323336;
    border: 2px solid #323336;
}
.theme-dark .cb-games-layer::before{
    border: 1.5px solid #7B7B7B;
}
.theme-dark .cb-col-games p{
    color: #BABABA;
}
.theme-dark .cb-col-games h3{
    color: var(--color-white);
}
.theme-dark .cb-left-side-blureffect{
    background: linear-gradient(179.83deg, #16161B 28%, rgba(22, 22, 27, 0) 84.1%);
}
.theme-dark .provider-circle{
    background: #222224;
    border: 8px solid #2E2E30;
    box-shadow: 0px 13px 30px rgba(0, 0, 0, 0.1);
}
.theme-dark .swiper-button-prev{
    background: #272729;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    color: #857B7B;
}
.theme-dark .swiper-button-next{
    background: #272729;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    color: #857B7B;
}
.theme-dark .cb-form-container{
    /* backdrop-filter: blur(80.96px); */
    background: #252629;
    box-shadow: 0px 15px 60px rgba(73, 72, 72, 0.07);
}
.theme-dark .cb-social-login{
    border: 2px solid #3d3d3e;
    background: #353438;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
}
.theme-dark .dont-have-account,
.theme-dark .cb-login-container a{
    color: var(--color-white);
}
.theme-dark .cb-button-dark,
.theme-dark .cb-button-dark:hover{
    background: #1D1C1E;   
}
.theme-dark a.forget-password,
.theme-dark .switch-content p{
    color: #D7D7D7;
}
.theme-dark .form-control{
    background: #353438;
}
.theme-dark ::placeholder{
   color: #7B7B7B;
}
.theme-dark .form-control:focus{
    background: #353438;
    color: white;
}
.theme-dark label{
    color: #fff;
}
.theme-dark .slider {
    border: 1px solid #555050;
}
.theme-dark .slider:before {
    background-color: #8A8383;
}
.theme-dark .cb-blur-effect-1{
    display: none;
}
.theme-dark .cb-game-title{
    color: #fff;
}
.theme-dark .advertisement-title{
    background: #2E2D30;
    color: #fff;
}

.theme-dark .side-img{
    background: #2E2D30;
    border: 2px solid #2E2D30;
    backdrop-filter: blur(42.1633px);
}
.theme-dark .advertisement-title img{
    background: #434447;
}
.theme-dark .icon-scroll-down{
    border: 1px solid #4D4B4B;
}
.theme-dark .popup-cb,
.theme-dark .popup-profile-cb,
.theme-dark .popup-pl-cb{
    background: rgba(24, 24, 26, 0.633);
}
.theme-dark .deposit-withdraw,
.theme-dark .profile-container{
    background: rgba(228, 223, 223, 0.122);
    box-shadow: 0px 15px 60px rgba(73, 72, 72, 0.07);
    backdrop-filter: blur(20.96px);
}

.theme-dark .cb-wd-tab{
    background: #272729;
    box-shadow: -1px -1px 5px #343437, 1.5px 1.5px 5px #131314;
}



.theme-dark #cb-wd-tab .nav-link.active{
    background: #272729;
    box-shadow: -1px -1px 3px #343437, 1.5px 1.5px 2px rgb(19 19 20 / 40%);
    color: #fff;
}
.theme-dark #cb-wd-tab .nav-link.active::before{
    background: #222224;
    box-shadow: inset -1px -1px 1px #3c3c3e, inset 1.5px 1.5px 5px #101012;
}
.theme-dark .cb-wd-tab .nav-link{
    background: #272729;
    color: #fff;
}
.theme-dark #cb-wd-tab .nav-link.active .small-circle{
    background: #272728;
    box-shadow: inset -1px -1px 1px #3C3C3E, inset 1.5px 1.5px 5px #101012;
}
.theme-dark .col-withdraw-input .input-withdraw{
    background: #272729;
    box-shadow: -1px -1px 5px #343437, 1.5px 1.5px 5px #131314;
}
.theme-dark .enter-amount,
.theme-dark .col-profile-input .input-profile{
    background: #272729;
    box-shadow: -1px -1px 5px #343437, 1.5px 1.5px 5px #131314;
}

.theme-dark .deposit-description{
    color: #9F9999;
}
.theme-dark .cancel-btn svg path{
    stroke: #7B7B7B;
}
.theme-dark .cb-dropdown-dark,
.theme-dark .filter-container .cb-dropdown-dark,
.theme-dark .cb-provider-search,
.theme-dark #new-game-container{
    background: #272729 !important;
    /* box-shadow: -1px -1px 5px #343437, 1.5px 1.5px 5px #131314 !important; */
}
.theme-dark .right-side-bar p{
    color: #fff;
}
.theme-dark .header-cb .dropdown-menu{
    background: rgba(228, 223, 223, 0.122);
    box-shadow: 0px 15px 60px rgb(73 72 72 / 7%);
    -webkit-backdrop-filter: blur(80.96px);
    backdrop-filter: blur(80.96px);
}
.theme-dark .filter-container,
.theme-dark .search-box-container{
    background: var(--bg-color-dark);
}
.theme-dark .header-cb .cb-wallet-amount svg path{
    stroke: #fff !important;
}
.theme-dark .header-cb .cb-wallet-amount h3{
    color: #fff;
}
.theme-dark .cb-search{
    border: 3px solid #2E2D30;
    background: #2E2D30;
    box-shadow: 0px 4px 30px rgb(0 0 0 / 25%);
}
.theme-dark .cb-search .cb-icon,
.theme-dark .cb-search .cb-input input{
    background: #2E2D30;
}
.theme-dark .cb-clear:before,
.theme-dark .cb-clear:after {
    background: #999;
}
.theme-dark .cb-favourite{
    background: rgba(76, 76, 78, 0.5);
}






/* Light */
.theme-light .header-fixed{
    background-color: var(--bg-color) !important;
}
.theme-light.cb-container{
    background-color: var(--bg-color);
}
.theme-light .header-cb .logo-cb a{
    color: var(--heading-color-dark) !important;
}
.theme-light .header-cb .login-cb{
    color: var(--heading-color-dark) !important;
}
.theme-light .header-cb .rc-btn-cb{
    background-color: var(--bg-signup);
    color: var(--color-white);
}
.theme-light .game-showcase,
.theme-light .cb-side-tab .tab-content,
.theme-light .nav-tabs .nav-link.active{
    background: var( --bg-secondary-color);
}
.theme-light .nav-tabs .nav-link.active:before,
.theme-light .nav-tabs .nav-link.active:after{
    border: 4px solid var(--bg-secondary-color)
}
.theme-light .right-side-bar-content{
    background-image: linear-gradient(to right, #f6f6f6aa ,rgba(246, 246, 246, 0.441), #fff);
}
.theme-light .side-provider-content{
    background: #F6F6F6;
    box-shadow: 0px 13px 30px rgba(0, 0, 0, 0.07);
    border: 6px solid #FEFEFE;
}
.theme-light .cb-tab-ui.nav-pills .nav-link{
    color: #AAAAAA;
    background: #F3F5F5;
    box-shadow: -1px -1px 5px #FFFFFF, 1.5px 1.5px 5px rgba(174, 174, 192, 0.4);
}
.theme-light .cb-tab-ui.nav-pills .nav-link.active{
    background: #F0F0F3;
    box-shadow: -1px -1px 3px #FFFFFF, 1.5px 1.5px 2px rgba(174, 174, 192, 0.4);
    color: #8D8484;
}
.theme-light .cb-tab-ui.nav-pills .nav-link.active::before{
    background: #EEEEEE;
    box-shadow: inset -1px -1px 1px rgba(255, 255, 255, 0.7), inset 1.5px 1.5px 5px rgba(174, 174, 192, 0.2);
}
.theme-light .cb-search-box,
.theme-light .search-mobile-box{
    background: #F3F5F5;
    border: 3px solid #FFFFFF;
    box-shadow: 0px 4px 30px rgb(90 88 88 / 7%);
}
.theme-light .cb-search-box::placeholder{
    color: #AAAAAA;
}
.theme-light .cb-filter-box{
    background: #F3F5F5;
    border: 3px solid #FFFFFF;
    box-shadow: 0px 4px 30px rgb(90 88 88 / 7%);
}
.theme-light .right-side-bar{
    background: linear-gradient(135deg, #EDEDED 0%, #FFFFFF 100%);
    box-shadow: -1px 1px 2px rgba(224, 224, 224, 0.2), 1px -1px 2px rgba(224, 224, 224, 0.2), -1px -1px 2px rgba(255, 255, 255, 0.9), 1px 1px 3px rgba(224, 224, 224, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(224, 224, 224, 0.5);
}
/* Handle */
.theme-light .game-showcase .cb-row-games::-webkit-scrollbar-thumb {
    background: #d7d7d7c8; 
}

/* Handle on hover */
.theme-light .game-showcase .cb-row-games::-webkit-scrollbar-thumb:hover {
    background: #d7d7d7c8; 
}

.theme-light .cb-col-games{
    background-color: #F7F7F7;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    /* backdrop-filter: blur(42.1633px); */
}
.theme-light .cb-games-layer::before{
    border: 1.5px solid #D7D6D6;
}
.theme-light .cb-col-games p{
    color: #9E9A9A;
}
.theme-light .cb-col-games h3{
    color: #332F2F;
}
.theme-light .cb-left-side-blureffect{
    background: linear-gradient(179.83deg, #FEFEFE 22.75%, rgba(254, 254, 254, 0) 84.1%);
}
.theme-light .provider-container::before{
    background: linear-gradient(179.83deg, #FEFEFE 22.75%, rgba(254, 254, 254, 0) 84.1%);
}
.theme-light .cb-blur-effect-4{
    background: #E6E4E4;
}
.theme-light .provider-circle{
    background: #F4F4F4;
    border: 8px solid #FEFEFE;
    box-shadow: 0px 13px 30px rgba(0, 0, 0, 0.07);
}
.theme-light .cb-blur-effect-3{
    background: #CFC9C9;
}
.theme-light .swiper-button-prev{
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgb(0 0 0 / 7%);
    color: #9E9E9E;
}
.theme-light .swiper-button-next{
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgb(0 0 0 / 7%);
    color: #9E9E9E;
}
.theme-light .cb-form-container{
    background: rgba(196, 196, 196, 0.122);
    border: 3px solid #FFFFFF;
    box-shadow: 0px 15px 60px rgba(73, 72, 72, 0.07);
    backdrop-filter: blur(80.96px);
}
.theme-light .cb-social-login{
    background: #F3F5F5;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
}
.theme-light .dont-have-account{
    color: #332F2F;
}
.theme-light .cb-login-container a,
.theme-light a.forget-password,
.theme-light .switch-content p{
    color: #332F2F !important;
}
.theme-light .cb-button-dark,
.theme-light .cb-button-dark:hover{
    background: #272729;   
}
.theme-light .form-control{
    background: #F1ECEC;
}
.theme-light ::placeholder{
   color: #7B7B7B;
}
.theme-light label{
    color: #332F2F;
}
.theme-light .slider {
    border: 1px solid #D3D1D1;
}
.theme-light .slider:before {
    background-color: #7B7B7B;
}
.theme-light .cb-game-title{
    color: #000;
}
.theme-light .advertisement-title{
    background: #fff;
    color: #000;
}
.theme-light .side-img{
    background: rgba(196, 196, 196, 0.083);
    border: 2px solid #FFFFFF;
    backdrop-filter: blur(42.1633px);
}
.theme-light .advertisement-title img{
    background: #332F2F;
}
.theme-light .icon-scroll-down{
    border: 1px solid #E1DDDD;
}

.theme-light .popup-cb,
.theme-light .popup-profile-cb,
.theme-light .popup-pl-cb{
    background: rgba(51, 50, 53, 0.633);
}

.theme-light .deposit-withdraw,
.theme-light .profile-container{
    background: rgba(255, 255, 255, 0.122);
    box-shadow: 0px 15px 60px rgba(73, 72, 72, 0.07);
    backdrop-filter: blur(20.96px);
}
.theme-light .cb-wd-tab{
    background: #F3F5F5;
}
.theme-light #cb-wd-tab .nav-link.active{
    background: #F0F0F3;
    color: #8D8484;
}
.theme-light #cb-wd-tab .nav-link.active::before{
    background: #EEEEEE;
    box-shadow: inset -1px -1px 1px rgb(255 255 255 / 70%), inset 1.5px 1.5px 5px rgb(174 174 192 / 20%);
}
.theme-light .cb-wd-tab .nav-link{
    background: #EEEEEE;
    color: #8D8484;
}

.theme-light #cb-wd-tab .nav-link.active .small-circle{
    background: #EEEEEE;
    box-shadow: inset -1px -1px 1px rgba(245, 245, 245, 0.7), inset 1.5px 1.5px 5px rgb(174 174 192 / 20%);
}
.theme-light .col-withdraw-input .input-withdraw,
.theme-light .enter-amount,
.theme-light .col-profile-input .input-profile,
.theme-light .cb-dropdown-dark{
    background: #F1ECEC;
}
.theme-light .cb-dropdown-dark,
.theme-light .filter-container .cb-dropdown-dark,
.theme-light .cb-provider-search,
.theme-light #new-game-container{
    background: #F1ECEC;
    color: #8D8484 !important;
    box-shadow: none !important;
}
.theme-light .deposit-description{
    color: #fff;
}
.theme-light .cancel-btn svg path{
    stroke: #fff;
}

.theme-light .right-side-bar p{
    color: #000;
}
.theme-light .header-cb .dropdown-menu{
    background: rgba(196, 196, 196, 0.122);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 15px 60px rgb(73 72 72 / 7%);
    -webkit-backdrop-filter: blur(80.96px);
    backdrop-filter: blur(80.96px);
}
.theme-light .filter-container,
.theme-light .search-box-container{
    background: var(--bg-color);
}
.theme-light .header-cb .cb-wallet-amount svg path{
    stroke: #332F2F !important;
}
.theme-light .header-cb .cb-wallet-amount h3{
    color: #332F2F;
}
.theme-light .cb-search{
    background: #F3F5F5;
    border: 3px solid #FFFFFF;
    box-shadow: 0px 4px 30px rgb(90 88 88 / 7%);
}
.theme-light .cb-search .cb-icon,
.theme-light .cb-search .cb-input input{
    background: #F3F5F5;
}
.theme-light .cb-clear:before,
.theme-light .cb-clear:after {
    background: #999;
}
.theme-light .cb-fav-container h3{
    font-weight: 600 !important;
}
.theme-light .cb-favourite{
    background: #fff;
}


/* Animation */
.mystyle .right-side-bar:nth-child(1){
    transform: translate(0, 0);
    transition: transform 1s ease 2s;
}
.mystyle .right-side-bar:nth-child(2){
    transform: translate(0, 0);
    transition: transform 1s ease 2.2s;
}
.mystyle .right-side-bar:nth-child(3){
    transform: translate(0, 0);
    transition: transform 1s ease 2.4s;
}
.mystyle .right-side-bar:nth-child(4){
    transform: translate(0, 0);
    transition: transform 1s ease 2.6s;
}
.mystyle .right-side-bar:nth-child(5){
    transform: translate(0, 0);
    transition: transform 1s ease 2.8s;
}
.mystyle .right-side-bar:nth-child(6){
    transform: translate(0, 0);
    transition: transform 1s ease 3.0s;
}
.mystyle .right-side-bar:nth-child(7){
    transform: translate(0, 0);
    transition: transform 1s ease 3.2s;
}

.side-provider-content{
    opacity: 0;
    transform: translate(-86px, -42px);
}
.mystyle .nav-link.active .side-provider-content{
    /* transition-delay: 3w;
    transition: none !important; */
}
.mystyle .nav-link:nth-child(1) .side-provider-content{
    opacity: 1;
    transform: translate(0, 0);
    transition: opacity 1s ease 1.8s, transform 1s ease 1.8s;
}
.mystyle .nav-link:nth-child(2) .side-provider-content{
    opacity: 1;
    transform: translate(0, 0);
    transition: transform 1s ease 2s, opacity 1s ease 2s;
}
.mystyle .nav-link:nth-child(3) .side-provider-content{
    opacity: 1;
    transform: translate(0, 0);
    transition: transform 1s ease 2.2s, opacity 1s ease 2.2s;
}
.mystyle .nav-link:nth-child(4) .side-provider-content{
    opacity: 1;
    transform: translate(0, 0);
    transition: transform 1s ease 2.4s, opacity 1s ease 2.4s;
}
.mystyle .nav-link:nth-child(5) .side-provider-content{
    opacity: 1;
    transform: translate(0, 0);
    transition: transform 1s ease 2.6s, opacity 1s ease 2.6s;
}
.mystyle .nav-link:nth-child(6) .side-provider-content{
    opacity: 1;
    transform: translate(0, 0);
    transition: transform 1s ease 2.8s, opacity 1s ease 2.8s;
}
.mystyle .nav-link:nth-child(7) .side-provider-content{
    opacity: 1;
    transform: translate(0, 0);
    transition: transform 1s ease 3.0s, opacity 1s ease 3.0s;
}
.mystyle .nav-link:nth-child(8) .side-provider-content{
    opacity: 1;
    transform: translate(0, 0);
    transition: transform 1s ease 3.2s, opacity 1s ease 3.2s;
}
.mystyle .nav-link:nth-child(9) .side-provider-content{
    opacity: 1;
    transform: translate(0, 0);
    transition: transform 1s ease 3.4s, opacity 1s ease 3.4s;
}
.mystyle .nav-link:nth-child(10) .side-provider-content{
    opacity: 1;
    transform: translate(0, 0);
    transition: transform 1s ease 3.6s, opacity 1s ease 3.6s;
}

/* .mystyle.theme-dark .nav.nav-tabs.cb-side-tab,
.mystyle.theme-dark .tab-content{
    transition: background-color 1s ease 3.0s;
    background-color: #252629;
}
.mystyle.theme-light .nav.nav-tabs.cb-side-tab,
.mystyle.theme-light .tab-content{
    transition: background-color 1s ease 3.0s;
    background-color: #F7F7F7;
} */
@keyframes top-to-bottom{
    0%{
        transform: translate(-165%, -40px);
    }
    50%{
        transform: translate(-40%, -18px);
    }
    100%{
        transform: translate(0,0);
    }
}
.cb-homeafter-login .nav-tabs .nav-link.active:before,
.cb-homeafter-login .nav-tabs .nav-link.active:after{
    opacity: 0;
}
.cb-side-tab .nav-link.active{
    background: transparent !important;
}

.mystyle .cb-row-games-container{
    opacity: 1 !important;
    visibility: visible !important;
    transition: all 2s ease 3s;
}
.mystyle .cb-homeafter-login .nav-tabs .nav-link.active:before,
.mystyle .cb-homeafter-login .nav-tabs .nav-link.active:after{
    /* opacity: 1; */
    transition: all 2s ease 3s;
}
.mystyle .cb-side-tab .nav-link.active{

    /* background: #252629 !important; */
    transition: all 2s ease 3s;
}
.cb-pl-dropdowns .dropdown-item{
    color: #212529 !important;
}

.mystyle .cb-shade-effect-4{
    display: none;
}

@media (min-width: 735px) and (max-width: 820px) {
    .header-cb {
        padding: 20px 25px 0px !important;
    }
    .cb-homeafter-login .cb-games-layer{
        margin: 0 -10px !important;
    }
    .filter-container{
        padding: 20px 18px 10px !important;
        flex-wrap: wrap;
        justify-content: space-around !important;
    }
    .cb-left-side{
        top: 166px !important;
        left: -4px !important;
        transform: scale(0.9);
    }
    .cb-left-side img{
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 734px) {
    .deposit-withdraw,
    .profile-container{
        transform: scale(0.7) translate(-70%,-75%) !important;
    }
    .pl-container{
        transform: scale(0.48) translate(-104%,-90%) !important;
    }
    .cb-mobile-before-container{
        padding: 90px 5px 200px;
    }
    .cb-login{
        position: relative !important;
    }

    .provider-shade-effect-mobile{
        position: absolute;
        width: 100%;
        height: 165px;
        bottom: -3px;
        
    }
    .theme-light .provider-shade-effect-mobile{
        background: #fff;
    }
    .theme-light .provider-shade-effect-mobile::before{
        background: linear-gradient(179.83deg, #FEFEFE 22.75%, rgba(254, 254, 254, 0) 85.1%);
    }
    .theme-dark .provider-shade-effect-mobile{
        background: #16161B;
    }
    .theme-dark .provider-shade-effect-mobile::before{
        background: linear-gradient(179.83deg, #16161B 22.75%, rgba(254, 254, 254, 0) 85.1%);
    }
    .provider-shade-effect-mobile::before{
        display: inline;
        position: absolute;
        content: "";
        transform: matrix(1, 0, 0, -1, 0, 0);
        width: 100%;
        height: 126px;
        bottom: 136px;
        z-index: 1;
    }
    .provider-container{
        background: none !important;
    }
    .advertisement{
        top: 44% !important;
        transform: translate(0%, -56%) !important;
    }
    .advertisement.remove-slide-in{
        transform: translate(100%, -56%) !important;
    }
    .mystyle .cb-mobile-before-container{
        opacity: 0;
        visibility: hidden;
    }
    .game-showcase .nav.nav-pills{
        display: none;
    }
    #cb-form-box{
        margin-top: 50px;
        padding: 0 12px !important;
    }
    .cb-form-animation {
        position: relative;
        width: 100% !important;
        height: 100% !important;
    }
    .cb-mr-l58{
        margin-left: 58px;
    }
    .home-before-login .cb-right-side{
        margin-bottom: 0px !important;
    }
    .advertisement .side-ad-col h2{
        font-size: 15px !important;
    }
    .cb-mb-left-side img{
        width: 174px;
    }
    .advertisement .side-img img{
        width: 80px !important;
        height: 80px !important;
    }
    .advertisement .side-img {
        padding: 6px !important;
    }
    .header-cb .logo-cb a{
        font-size: 24px !important;
    }
    .header-cb{
        padding: 20px 0 0 15px !important;
    }
    .theme-dark .provider-container{
        background: #16161B;
    }
    .theme-light .provider-container{
        background: #fff;
    }
    .theme-dark .three-row-col .cb-col{
        background: #222224;
        border: 8px solid #2E2E30;
        box-shadow: 0px 13px 30px rgb(0 0 0 / 10%);
    }
    .theme-light .three-row-col .cb-col{
        background: #F4F4F4;
        border: 8px solid #FEFEFE;
        box-shadow: 0px 13px 30px rgb(0 0 0 / 7%);
    }
    .login-cb,
    .rc-btn-cb,
    .game-showcase-blur-effect{
        display: none !important;
    }
    .theme-switcher-wrap{
        margin-right: 0px !important;
    }
    .cb-login-container{
        
        height: 100%;
        padding: 0 12px !important;
        margin-top: 90px !important;
    }
    .mystyle .cb-login-container{
        padding: 0 !important;
    }
    .cb-form-container{
        width: 100% !important;
        padding: 45px 25px 40px !important;
        margin-top: 0 !important;
    }
    .game-showcase{
        flex-direction: column;
        border-radius: 0 !important;
    }
    .game-showcase .game-showcase-content {
        width: 100% !important;
    }
    .cb-games-content{
        padding: 20px 15px 10px;
    }
    .cb-search-filter-box{
        justify-content: space-between;
    }
    .cb-search-box{
        width: 100% !important;
        padding: 0 20px 0 38px;
        margin-right: 40px !important;
        border-radius: 8px !important;
    }
    .cb-filter-box{
        border-radius: 8px !important;
    }
    .game-showcase .nav.nav-pills{
        padding: 15px 15px 15px 15px !important;
        justify-content: center !important;
    }
    .game-showcase .cb-row-games{
        padding: 10px 10px 0px !important;
        flex-wrap: wrap !important;
    }
    .cb-col-games h3{
        font-size: 14px !important;
        margin-bottom: 10px !important;
    }
    /* .cb-col-games img {
        width: 238px !important;
        height: 104px !important;
    } */
    .cb-col-games {
        width: 135px !important;
        height: 164px !important;
        padding: 6px !important;
    }
    .cb-homeafter-login .cb-col-games h3{
        font-size: 11px !important;
        margin-bottom: 0 !important;
    }
    /* .cb-homeafter-login .cb-col-games img {
        width: 185px !important;
        height: 94px !important;
    } */

    .cb-homeafter-login .cb-col-games {
        width: 120px !important;
        height: 154px !important;
        padding: 6px !important;
    }
    .cb-col-games p{
        margin-bottom: 6px !important;
    }
    .game-showcase{
        flex-direction: column;
    }
    .game-showcase .cb-row-games{
        height: calc(100vh - 85px) !important;
        padding-bottom: 140px !important;
    }
    .right-side-bar-content.flex-column{
        width: 100% !important;
        overflow: auto; 
        height: 65px !important;
        justify-content: flex-start !important;
        white-space: nowrap;
        flex-direction: row !important;
        margin-top: 16px;
        position: fixed;
        bottom: 0;
        padding: 0px 20px 0;
    }
    .game-right-side{
        opacity: 0;
    }
    .mystyle .game-right-side{
        opacity: 1;
       transition: transform 1s ease 3s, opacity 1s ease 3s;
    }
    .theme-light .right-side-bar-content.flex-column{
        background: #f7f7f7;
    }
    .theme-dark .right-side-bar-content.flex-column{
        background: #252629;
    }
    .right-side-bar{
        width: 50px !important;
        height: 50px !important;
        margin-right: 12px;
        padding: 0px 20px;
        border-radius: 10px;
    }
    .theme-light .side-provider-content{
        box-shadow: none !important;
    }
    .cb-games-layer::before {
        width: 125px !important;
        height: 158px !important;

        top: 23px !important;
        left: 6px !important;
    }
    .cb-homeafter-login  .cb-games-layer::before {
        width: 115px !important;
        height: 146px !important;
        top: 23px !important;
        left: 8px !important;
    }
    .right-side-bar{
        margin-bottom: 0 !important;
    }
    .game-showcase .cb-row-games{
        justify-content: space-around !important;
    }
    /* .cb-tab-ui{
        order: 2 !important;
    } */

    .cb-homeafter-login .cb-games-layer{
        margin: 0 -17px 5px !important;
        transform: scale(0.9);
        padding: 8px 14px 0px !important;
    }

    .search-icon{
        left: 8% !important; 
    }
    .home-after-login-container{
        height: 100% !important;
        padding: 88px 0px 0 !important;
    }
    .cb-right-side{
        width: 100% !important;
        margin-left: 0px !important;
    }
    .o-container{
        padding: 0 1.5rem !important;
        margin-top: 30px;
    }
    .desktop-only,
    .cb-side-tab .nav-link:nth-child(6){
        display: none !important;
    }
    .mobile-only{
        display: block !important;
    }
    .cb-side-tab{
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
    .home-after-login-container{
        flex-direction: column;
    }
    .side-provider-content{
        width: 52px !important;
        height: 52px !important;
    }
    .nav-tabs .nav-link.active{
        border-radius: 10px 10px 0px 0px !important;
    }
    .cb-side-tab.nav-tabs .nav-link{
        padding: 6px !important;
    }
    .nav-tabs .nav-link.active:before,
    .nav-tabs .nav-link.active::after{
        display: none;
    }
    .cb-pills-ui .cb-side-tab .tab-content{
        height: 462px;
        overflow: hidden;
        overflow-y: scroll;
    }
    .cb-tab-ui.nav-pills .nav-link{
        width: 124px !important;
        font-size: 13px !important;
    }
    .mystyle .cb-homeafter-login{
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        padding: 68px 0px 0 !important;
    }
    .mystyle .cb-homeafter-login .nav.nav-tabs.cb-side-tab{
        height: auto !important;
        width: 100% !important;
        float: left;
        margin: 0 0 5px 10px !important;
        justify-content: flex-start !important;
        align-items: center;
        overflow: hidden;
        overflow-x: scroll;
        flex-wrap: nowrap;
    }
    .cb-row-games a{
        margin: 0 -17px !important;
        transform: scale(0.9);
    }
    #cb-mb-row-games{
        margin-top: 40px;
    }
    .cb-games-content{
        display: none;
    }
    .cb-pills-ui{
        margin-top: 10px;
    }
}

@media screen and (max-device-width: 480px) and (orientation: portrait){
    .cb-mb-left-side img{
        width: calc(100% - 150px);
        margin: 30px 0 20px;
    }
}
@media (min-width: 500px){
    .mystyle .nav-link:nth-child(7) .side-provider-content,
    .mystyle .nav-link:nth-child(8) .side-provider-content,
    .mystyle .nav-link:nth-child(9) .side-provider-content,
    .mystyle .nav-link:nth-child(10) .side-provider-content{
        display: none !important;
    }
    .game-right-side{
        margin-top: 80px;
    }
    
    .fixed-color-bottom{
        width: 100%;
        
        background: white;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 1;
    }

    .theme-dark .fixed-color-bottom{
        height: 120px;
        background-color: #16161B;
    }
    .theme-light .fixed-color-bottom{
        background-color: #ffffff;
        height: 110px;
    }
    .mystyle .fixed-color-bottom{
        display: none;
    }
    
    
}

@media screen and (max-width: 360px){
    .cb-homeafter-login .cb-games-layer {
        margin: 0 -17px 25px !important;
        transform: scale(1) !important;
    }
}